<!--
  templateType: global_partial
  label: Hospitality-contactform
-->
<style>
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the modal is above all content */
  }

  .hidden {
    display: none;
  }

  /* Prevent the background page from scrolling */
  .overflow-hidden {
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .hidden-mobile {
      display: block;
    }
  }

  /* Class to hide on desktop and show on mobile */
  .hidden-desktop {
    display: block;
  }
  .text-content {
    font-family: "Montserrat", sans-serif;

    font-weight: 400;
    line-height: 35px;
    text-align: left;
  }

  .text-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 36.57px;
    text-align: left;
  }

  @media (min-width: 768px) {
    .hidden-desktop {
      display: none;
    }
  }
</style>
<section class="container xl:px-32 px-6" id="contact">
  <div>
    <p class="text-sm text-sky-500 font-semibold">CONTACT US</p>
    <h3 class="text-lg md:text-3xl font-semibold md:3 md:mt-1 mb-10">
      Lets grow your business together
    </h3>
  </div>
  <div
    class="md:flex flex-wrap md:flex-nowrap bg-none md:bg-gray-50 gap-2 rounded-3xl justify-center"
  >
    <div class="md:w-1/2">
      <div
        class="bg-backblue shadow-md flex flex-col justify-between h-full p-7 rounded-3xl text-white"
      >
        <div class="">
          <h2 class="font-medium text-xl md:text-4xl">Contact Details</h2>
          <ul>
            <ul class="mt-5 md:mt-10 flex gap-2">
              <i class="fa-regular fa-envelope text-base md:text-xl"></i>
              <a
                href="mailto: growwith@neartekpod.com "
                class="text-sm md:text-base font-medium"
                >growwith@neartekpod.com</a
              >
            </ul>
            <ul class="mt-2 md:mt-10 flex flex-row gap-2">
              <i class="fa-solid fa-phone text-base md:text-xl"></i>
              <p class="text-sm md:text-base font-medium hidden-mobile">
                + 1 847 450 3728
                <span class="text-sm">[8:00 AM – 4:00 PM EST]</span>
              </p>
              <a
                href="tel:+18474503728"
                class="text-sm md:text-base font-medium hidden-desktop flex flex-col"
              >
                <span> + 1 847 450 3728</span>
                <span class="text-sm">[8:00 AM – 4:00 PM EST]</span>
              </a>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="md:w-1/2 mt-8 md:mt-0">
      <form id="contact-form" class="md:p-8 rounded-3xl w-full max-w-md">
        <div class="mb-4">
          <div class="flex flex-col">
            <label for="email" class="text-sm md:text-base">Email </label>
            <input
              type="email"
              id="email"
              name="email"
              class="rounded-lg mt-2 border-coralblue"
              required
              placeholder="Enter your email"
              oninput="validateEmail(this, 'message-error')"
            />
          </div>
          <span class="text-errorred text-sm mt-1" id="email-error"></span>
        </div>

        <div class="mb-4">
          <label for="message" class="text-sm md:text-base">Message</label>
          <textarea
            id="message"
            name="message"
            class="rounded-lg mt-2 border-coralblue w-full p-3"
            placeholder="Message"
            required
            oninput="validateAlphanumeric(this, 'message-error')"
          ></textarea>
          <span class="text-errorred text-sm mt-1" id="message-error"></span>
        </div>
        <div class="mb-4">
          <label class="inline-flex items-center">
            <input
              type="checkbox"
              id="agree"
              name="agree"
              class="form-checkbox bg-transparent"
              required
            />
            <span class="ml-2 font-medium text-xs">
              I agree to the
              <a
                href="#"
                id="termsLink"
                class="text-blue-500 underline hover:text-blue-600"
              >
                Terms and Conditions
              </a>
            </span>

            <!-- Modal Structure -->
            <div
              id="termsModal"
              class="modal hidden fixed inset-0 items-center justify-center bg-black bg-opacity-50"
            >
              <div
                class="bg-white rounded-2xl p-6 w-[400px] h-[700px] md:w-[650px] lg:w-[970px] lg:h-[440px] relative overflow-y-auto"
              >
                <button
                  id="closeModal"
                  class="absolute top-2 right-8 text-gray-600 hover:text-gray-900 text-4xl"
                >
                  &times;
                </button>

                <h2 class="font-semibold text-lg">Privacy Policy</h2>
                <p class="mt-4 text-content">
                  This Privacy Policy outlines our policies and procedures
                  regarding the collection, use, and disclosure of your
                  information when you use our service. It also explains your
                  privacy rights and how the law protects you. We use your
                  personal data to provide and improve the service. By using the
                  service, you agree to the collection and use of information in
                  accordance with this Privacy Policy.
                </p>
                <div>
                  <h4 class="font-semibold text-lg">
                    1. Interpretation and Definitions
                  </h4>
                  <p class="text-content">
                    Words with capitalized initial letters have meanings defined
                    under the conditions below. These definitions apply whether
                    the words appear in singular or plural.
                  </p>
                  <ul class="mt-2 list-disc pl-4">
                    <li class="text-content">
                      <b>Account:</b> A unique account created for you to access
                      our service.
                    </li>
                    <li class="text-content">
                      <b>Affiliate:</b> An entity that controls, is controlled
                      by, or is under common control with a party, with control
                      defined as ownership of 50% or more of shares, equity
                      interest, or other securities entitled to vote for
                      directors or managing authority.
                    </li>
                    <li class="text-content">
                      <b>Company:</b> Neartekpod Inc, 575 W Helen Rd, Palatine,
                      IL 60067.
                    </li>
                    <li class="text-content">
                      <b>Cookies: </b>Small files placed on your device by a
                      website, storing details of your browsing history and
                      other uses.
                    </li>
                    <li class="text-content">
                      <b>Country:</b> Illinois, United States.
                    </li>
                    <li class="text-content">
                      <b>Device:</b> Any device that can access the service,
                      such as a computer, cellphone, or digital tablet.
                    </li>
                    <li>
                      <b>Personal Data:</b> Information related to an identified
                      or identifiable individual.
                    </li>
                    <li class="text-content">
                      <b>Service:</b> Refers to the website.
                    </li>
                    <li class="text-content">
                      <b>Service Provider:</b> Any natural or legal person who
                      processes data on behalf of the company.
                    </li>
                    <li class="text-content">
                      <b>Usage Data:</b> Data collected automatically, either
                      generated by using the service or from the service
                      infrastructure (e.g., duration of page visits).
                    </li>
                    <li class="text-content">
                      <b> Website:</b> Refers to Neartekpod, accessible from <a
                        href="https://www.neartekpod.com"
                        class="text-blue-400"
                        >https://www.neartekpod.com</a
                      >
                    </li>
                    <li class="text-content">
                      <b>You:</b> The individual accessing or using the service,
                      or the legal entity on whose behalf the service is being
                      accessed.
                    </li>
                  </ul>
                </div>
                <div>
                  <h4 class="font-semibold text-lg">
                    2. Collecting and Using Your Personal Data
                  </h4>
                  <h6 class="font-semibold text-lg mt-2">
                    Types of Data Collected
                  </h6>
                  <p class="text-content">
                    <b>Personal Data:</b> We may collect personal information
                    such as your email address, first and last name, and phone
                    number while you use our service.
                  </p>
                  <p class="text-content">
                    <b>Usage Data:</b> This includes information automatically
                    collected, such as your IP address, browser type and
                    version, pages visited, time and date of visit, time spent
                    on pages, unique device identifiers, and diagnostic data.
                    For mobile devices, we may also collect details like device
                    type, unique ID, IP address, operating system, and browser
                    type.
                  </p>
                  <h4 class="font-semibold text-lg">
                    Tracking Technologies and Cookies
                  </h4>
                  <p class="text-content">
                    We use cookies and similar tracking technologies (like
                    beacons, tags, and scripts) to track your activity and store
                    information. Cookies can be:
                  </p>
                  <ul class="mt-2 list-disc pl-4">
                    <li class="text-content">
                      <b>Session Cookies:</b> Deleted when you close your
                      browser.
                    </li>
                    <li class="text-content">
                      <b>Persistent Cookies:</b> Remain on your device even
                      after closing your browser.
                    </li>
                  </ul>
                  <h4 class="font-semibold text-lg">
                    We use cookies for various purposes:
                  </h4>
                  <ul class="mt-2 list-disc pl-4">
                    <li class="text-content">
                      <b>Necessary Cookies:</b> To provide services and prevent
                      fraud.
                    </li>
                    <li class="text-content">
                      <b>Acceptance Cookies:</b> To recognize if you've accepted
                      our cookie policy.
                    </li>
                    <li class="text-content">
                      <b>Functionality Cookies:</b> To remember your choices,
                      such as login details and language preferences.
                    </li>
                  </ul>
                  <p class="text-content">
                    For more detailed information, please refer to our Cookies
                    Policy.
                  </p>
                </div>
                <div>
                  <h4 class="font-semibold text-lg mt-2">
                    3. Use of Your Personal Data
                  </h4>
                  <p class="text-content">
                    We may use your personal data for the following purposes:
                  </p>
                  <ul class="mt-2 list-disc pl-4">
                    <li class="text-content">
                      <b>To provide and maintain our service:</b> Monitoring
                      service usage.
                    </li>
                    <li class="text-content">
                      <b>To manage your account:</b> Registration and access
                      management.
                    </li>
                    <li class="text-content">
                      <b>For contract performance: </b>Managing contracts for
                      products or services purchased.
                    </li>
                    <li class="text-content">
                      <b>To contact you:</b> Through email, phone, SMS, or push
                      notifications regarding updates or related services.
                    </li>
                    <li class="text-content">
                      <b>To provide you with news and offers:</b> Related to
                      similar products or services unless you opt-out.
                    </li>
                    <li class="text-content">
                      <b>To manage your requests:</b> Handling inquiries and
                      requests.
                    </li>
                    <li class="text-content">
                      <b>For business transfers:</b> As part of a merger,
                      acquisition, or asset sale.
                    </li>
                    <li class="text-content">
                      <b>For other purposes:</b> Data analysis, usage trends,
                      promotional campaign effectiveness, and service
                      improvement.
                    </li>
                  </ul>
                  <h4 class="font-semibold text-lg">
                    Sharing Your Personal Data
                  </h4>
                  <p class="text-content">We may share your data with:</p>
                  <ul class="text-content mt-2 list-disc pl-4">
                    <li>
                      <strong>Service Providers:</strong> For service
                      facilitation and analysis.
                    </li>
                    <li>
                      <strong>Business Transfers:</strong> During mergers,
                      acquisitions, or asset sales.
                    </li>
                    <li>
                      <strong>Affiliates:</strong> Provided they honor this
                      Privacy Policy.
                    </li>
                    <li>
                      <strong>Business Partners:</strong> For offers, products,
                      services, or promotions.
                    </li>
                    <li>
                      <strong>Other Users:</strong> When interacting in public
                      areas of the service.
                    </li>
                    <li>
                      <strong>With Your Consent:</strong> For other purposes.
                    </li>
                  </ul>
                </div>
                <div>
                  <h4 class="font-semibold text-lg">
                    4. Retention of Your Personal Data
                  </h4>
                  <p class="text-content">
                    We retain your data only as long as necessary for the
                    purposes outlined in this Privacy Policy, including legal
                    obligations and dispute resolution. Usage data is kept for a
                    shorter duration unless required for security or service
                    improvement.
                  </p>
                </div>
                <div>
                  <h2 class="font-semibold text-lg">
                    5. Transfer of Your Personal Data
                  </h2>
                  <p class="text-content">
                    Your data may be processed in locations outside your country
                    with different data protection laws. By providing your data,
                    you consent to its transfer, with security measures in place
                    to protect it.
                  </p>
                </div>
                <div>
                  <h2 class="font-semibold text-lg">
                    6. Delete Your Personal Data
                  </h2>
                  <p class="text-content">
                    You can request data deletion anytime by accessing your
                    account settings or contacting us. We may retain certain
                    information for legal reasons.
                  </p>
                </div>
                <div>
                  <h2 class="font-semibold text-lg">
                    7. Disclosure of Your Personal Data
                  </h2>
                  <ul class="text-content list-disc pl-4">
                    <li>
                      <strong>For business transactions:</strong> During
                      mergers, acquisitions, or asset sales.
                    </li>
                    <li>
                      <strong>For law enforcement:</strong> If required by law.
                    </li>
                    <li>
                      <strong>For legal requirements:</strong> To protect our
                      rights, prevent wrongdoing, or ensure user safety.
                    </li>
                  </ul>
                </div>
                <div>
                  <h2 class="font-semibold text-lg">
                    8. Security of Your Personal Data
                  </h2>
                  <p class="text-content">
                    We use commercially acceptable means to protect your data,
                    but no method of transmission or storage is 100% secure.
                  </p>
                </div>
                <div>
                  <h2 class="font-semibold text-lg">9. Children's Privacy</h2>
                  <p class="text-content">
                    Our service is not intended for anyone under 13. We do not
                    knowingly collect data from children under 13. If you become
                    aware of such data, please contact us for its removal.
                  </p>
                </div>
                <div>
                  <h2 class="font-semibold text-lg">
                    10. Links to Other Websites
                  </h2>
                  <p class="text-content">
                    We may link to third-party websites. We are not responsible
                    for their content or privacy practices. Please review their
                    privacy policies.
                  </p>
                </div>
                <div>
                  <h2 class="font-semibold text-lg">
                    11. Changes to this Privacy Policy
                  </h2>
                  <p class="text-content">
                    We may update this policy periodically. Changes will be
                    posted on this page, with a notice provided via email or on
                    our website.
                  </p>
                </div>
                <div>
                  <h2 class="text-heading">12. Contact Us</h2>
                  <p class="text-content">
                    For any questions, contact us at:
                    <a
                      href="mailto:growwith@neartekpod.com"
                      class="text-blue-500 hover:underline"
                      >growwith@neartekpod.com</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </label>
          <span class="text-errorred text-sm mt-1" id="agree-error"></span>
        </div>

        <div class="">
          <button
            type="submit"
            class="py-3 px-10 border rounded-3xl bg-backblue text-white font-bold text-xs items-center"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
<script>
  function validateAlphabetic(input, errorId) {
    const value = input.value;
    if (!/^[a-zA-Z]*$/.test(value)) {
      document.getElementById(errorId).textContent =
        "Only alphabetic characters are allowed.";
    } else {
      document.getElementById(errorId).textContent = "";
    }
  }

  function validateAlphanumeric(input, errorId) {
    const value = input.value;
    if (!/^[a-zA-Z0-9\s]*$/.test(value)) {
      document.getElementById(errorId).textContent =
        "Only alphanumeric characters are allowed.";
    } else {
      document.getElementById(errorId).textContent = "";
    }
  }
  function validateEmail(input, errorId) {
    const value = input.value;
    if (
      !/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
        value
      )
    ) {
      document.getElementById(errorId).textContent =
        "Enter correct email formate";
    } else {
      document.getElementById(errorId).textContent = "";
    }
  }

  document
    .getElementById("contact-form")
    .addEventListener("submit", function (e) {
      let isValid = true;

      // Helper function to set error message
      function setError(id, message) {
        document.getElementById(id).textContent = message;
        isValid = false;
      }

      // Helper function to clear error message
      function clearError(id) {
        document.getElementById(id).textContent = "";
      }

      // Validate Email
      const email = document.getElementById("email").value;
      const emailPattern =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (!emailPattern.test(email)) {
        setError("email-error", "Please enter a valid email address.");
        isValid = false;
      } else {
        clearError("email-error");
      }

      n; // Validate Message
      const message = document.getElementById("message").value;
      if (!/^[a-zA-Z0-9\s]+$/.test(message)) {
        setError("message-error", "Message must be alphanumeric.");
      } else {
        clearError("message-error");
      }

      // Prevent form submission if validation fails
      if (!isValid) {
        e.preventDefault();
      }
    });

  document
    .getElementById("contact-form")
    .addEventListener("submit", async function (event) {
      event.preventDefault();

      let isValid = true;
      const formElements = event.target.elements;
      const validationErrors = {};

      // Validate required fields
      for (const element of formElements) {
        if (
          element.type !== "submit" &&
          element.hasAttribute("required") &&
          !element.value
        ) {
          isValid = false;
          validationErrors[element.name] = "This field is required";
        }
      }

      // Validate "I agree" checkbox
      if (!formElements["agree"].checked) {
        isValid = false;
        validationErrors["agree"] =
          "You must agree to the terms and conditions";
      }

      document
        .querySelectorAll(".text-errorred")
        .forEach((errorElement) => (errorElement.textContent = ""));
      if (!isValid) {
        for (const [fieldName, errorMessage] of Object.entries(
          validationErrors
        )) {
          document.getElementById(`${fieldName}-error`).textContent =
            errorMessage;
        }
        return;
      }

      const formData = {
        fields: [
          { name: "email", value: formElements["email"].value },
          { name: "message", value: formElements["message"].value },
        ],
      };

      try {
        const response = await fetch(
          "https://api.hsforms.com/submissions/v3/integration/submit/45046299/a65bb293-5b99-42ba-a374-100bdc5a8ea1",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
          }
        );

        if (!response.ok) {
          throw new Error("Network response was not ok");
        }

        event.target.reset();
      } catch (error) {
        console.log(
          "There was a problem submitting the form: " + error.message
        );
      }
    });

  // Terms and condition

  const termsLink = document.getElementById("termsLink");
  const termsModal = document.getElementById("termsModal");
  const closeModal = document.getElementById("closeModal");
  const body = document.body;

  termsLink.addEventListener("click", function (event) {
    event.preventDefault(); // Prevent default link behavior
    termsModal.classList.remove("hidden"); // Show the modal
    body.classList.add("overflow-hidden"); // Disable page scroll
  });

  closeModal.addEventListener("click", function () {
    termsModal.classList.add("hidden"); // Hide the modal
    body.classList.remove("overflow-hidden"); // Re-enable page scroll
  });
</script>
