<!--
  templateType: global_partial
  label: Marquee
-->

<marquee class="w-full">
  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/Apple.svg')}}"
    alt="Apple"
  />

  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/Best buy logo.svg')}}"
    alt="best-buy"
  />
  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/cemex.svg')}}"
    alt="cemex"
  />
  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/citibank logo.svg')}}"
    alt="citibank logo"
  />
  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/Hp.svg')}}"
    alt="Hp"
  />
  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/National logo.svg')}}"
    alt="iNational logo"
  />
  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/Samsung.svg')}}"
    alt="Samsung"
  />
  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/United airlines.svg')}}"
    alt="United airlines"
  />
  <img
    class="h-8 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../assets/Verizon.svg')}}"
    alt="Verizon"
  />
</marquee>
