<!--
  templateType: global_partial
  label: Marquee
-->

<marquee class="w-full mt-6">
  <img
    class="h-10 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../../assets/Chartis-F.svg')}}"
    alt="Chartis"
  />
  <img
    class="h-10 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../../assets/Ogilvy-F.svg')}}"
    alt="Ogilvy"
  />
  <img
    class="h-10 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../../assets/wpp-F.svg')}}"
    alt="wpp"
  />
  <img
    class="h-10 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../../assets/Bottlerocket-F.svg')}}"
    alt="Bottlerocket"
  />
  <img
    class="h-10 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../../assets/KMC-Corp-new.svg')}}"
    alt="KMC-corp"
  />
  <img
    class="h-10 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../../assets/Raytheon-technologies-F.svg')}}"
    alt="Raytheon tech"
  />
  <img
    class="h-10 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
    src="{{get_asset_url('../../assets/Mind-tree-updated.svg')}}"
    alt="Mindtree"
  />
  <img
  class="h-10 mx-2 md:h-12 md:mx-5 inline-block rounded-lg"
  src="{{get_asset_url('../../assets/Jacana-updated.svg')}}"
  alt="Mindtree"
/>
</marquee>
