<!--
  templateType: global_partial
  label: Service_sm
-->
<main class="mobile-container">
    {% dnd_area "main_card"
      label="Main_card",
      class="body-container bg-card"
      %}
      {% dnd_section
  
      background_image={
      'backgroundPosition': 'MIDDLE_CENTER',
      'backgroundSize': 'cover',
      'imageUrl': context.backgroundImage || get_asset_url('../../assets/Service-hero-image.svg')
      },
      vertical_alignment='MIDDLE'
      %}
      {% dnd_column %}
      {% dnd_row %}
      {% dnd_module path='@hubspot/rich_text' %}
      {% module_attribute 'html' %}
      <div class="Headingsm">
        {{ context.content || '<h1 class="Title-Headsm">Your tech partner in driving efficiency and accelerating growth</h2>
          <h3 class="Title-parasm">Boosting your performance with expert technological guidance
        </h1>' }}
      </div>
      {% end_module_attribute %}
      {% end_dnd_module %}
      {% end_dnd_row %}
      {% end_dnd_column %}
      {% end_dnd_section %}
      {% end_dnd_area %}
  
      {% dnd_area "mobile_Title", label="mobile_Title" %}
        {% dnd_section vertical_alignment="MIDDLE" %}
        {% dnd_module path="@hubspot/rich_text" %}
        {% module_attribute "html" %}
        <div class="custom-heading">
          <h2 class="heading-text">
            Our Services
          </h2>
        </div>
        {% end_module_attribute %}
        {% end_dnd_module %}
        {% end_dnd_section %}
        {% end_dnd_area %}
    
        {% dnd_area "mobile_Card1", class="bg-container", label="mobile_Card1" %}
        {% dnd_section vertical_alignment="MIDDLE" class='custom-section' %}
            {% dnd_module path="@hubspot/linked_image",
            img={
            "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
            "loading": context.image_loading or "disabled",
            "src": context.image or get_asset_url('../../assets/Business-consulting.svg'),
            "class":"custom-image"
            },
            width=6,
    
            %}
            {% end_dnd_module %}
            {% dnd_module
            path='@hubspot/rich_text',
            offset=6,
            width=6,
            label="Rich text"
            %}
            {% module_attribute "html" %}
            <div>
              <h1 class="service-title"> Business Consulting</h1>
              <p class="service-para">Unlock new opportunities to drive exponential growth and change
                using our business domain expertise. Our unique strengths lie in
                the business domain knowledge we bring to clients, supported by
                our leadership and practice leads.</p>
            </div>
            {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {% end_dnd_area %}
    
    
        {% dnd_area "mobile_Card2", class="bg-container container-color bg-container-reverse", label="mobile_Card2" %}
        {% dnd_section vertical_alignment="MIDDLE" class='custom-section' %}
            {% dnd_module path="@hubspot/linked_image",
            img={
            "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
            "loading": context.image_loading or "disabled",
            "src": context.image or get_asset_url("../../assets/Managed-services.svg"),
            "class":"custom-image"
            },
            width=6,
            %}
            {% end_dnd_module %}
            {% dnd_module
              path='@hubspot/rich_text',
              offset=6,
              width=6,
              label="Rich text"
              %}
              {% module_attribute "html" %}
              <div>
                <h1 class="service-title">Managed Services</h1>
                <p class="service-para">Helping clients coordinate and optimize the management and
                  operation of their complex digital solutions connected ecosystem.
                  Our experience and expertise range from midsize to
                  enterprise-scale clients across various industry verticals.</p>
              </div>
              {% end_module_attribute %}
              {% end_dnd_module %}
        {% end_dnd_section %}
        {% end_dnd_area %}
    
        {% dnd_area "mobile_Card3", class="bg-container", label="mobile_Card3" %}
        {% dnd_section vertical_alignment="MIDDLE" class='custom-section' %}
            {% dnd_module path="@hubspot/linked_image",
            img={
            "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
            "loading": context.image_loading or "disabled",
            "src": context.image or get_asset_url('../../assets/Delivery-as-a-service.svg'),
            "class":"custom-image"
            },
            width=6,
    
            %}
            {% end_dnd_module %}
            {% dnd_module
            path='@hubspot/rich_text',
            offset=6,
            width=6,
            label="Rich text"
            %}
            {% module_attribute "html" %}
            <div>
              <h1 class="service-title"> Delivery as a Service</h1>
              <p class="service-para"> Our teams can own the entire product and project delivery
                lifecycle, from discovery, architecture, development, and launch
                to ongoing support. We are capable of supporting the entire
                project/product delivery lifecycle, but we can also be a POD
                within your project delivery lifecycle.</p>
            </div>
            {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {% end_dnd_area %}
    
        {% dnd_area "mobile_Card4", class="bg-container container-color", label="mobile_Card4" %}
        {% dnd_section vertical_alignment="MIDDLE" class='custom-section' %}
            {% dnd_module path="@hubspot/linked_image",
            img={
            "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
            "loading": context.image_loading or "disabled",
            "src": context.image or get_asset_url("../../assets/Digital-Information.svg"),
            "class":"custom-image"
            },
            width=6,
            %}
            {% end_dnd_module %}
            {% dnd_module
              path='@hubspot/rich_text',
              offset=6,
              width=6,
              label="Rich text"
              %}
              {% module_attribute "html" %}
              <div>
                <h1 class="service-title">Digital Information</h1>
                <p class="service-para"> Transform your organization for greater efficiency and
                  flexibility, enabling rapid response to market opportunities. We
                  design, build, and launch custom enterprise applications and
                  implement SaaS platforms, covering everything from content to
                  commerce.</p>
              </div>
              {% end_module_attribute %}
              {% end_dnd_module %}
        {% end_dnd_section %}
        {% end_dnd_area %}
    
        {% dnd_area "mobile_Card5", class="bg-container", label="mobile_Card5" %}
        {% dnd_section vertical_alignment="MIDDLE" class='custom-section' %}
            {% dnd_module path="@hubspot/linked_image",
            img={
            "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
            "loading": context.image_loading or "disabled",
            "src": context.image or get_asset_url('../../assets/Data-orchestration.svg'),
            "class":"custom-image"
            },
            width=6,
    
            %}
            {% end_dnd_module %}
            {% dnd_module
            path='@hubspot/rich_text',
            offset=6,
            width=6,
            label="Rich text"
            %}
            {% module_attribute "html" %}
            <div>
              <h1 class="service-title"> Data Orchestration</h1>
              <p class="service-para">In today's data-driven world, effectively managing and utilizing
                data is crucial for informed decision-making and driving business
                success. Our Data Orchestration services streamline and harmonize
                your data, transforming it into a powerful asset that fuels
                innovation and growth.</p>
            </div>
            {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {% end_dnd_area %}
    
        {% dnd_area "mobile_Card6", class="bg-container container-color", label="mobile_Card6" %}
        {% dnd_section vertical_alignment="MIDDLE" class='custom-section' %}
            {% dnd_module path="@hubspot/linked_image",
            img={
            "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
            "loading": context.image_loading or "disabled",
            "src": context.image or get_asset_url("../../assets/Staff-services.svg"),
            "class":"custom-image"
            },
            width=6,
    
            %}
            {% end_dnd_module %}
            {% dnd_module
              path='@hubspot/rich_text',
              offset=6,
              width=6,
              label="Rich text"
              %}
              {% module_attribute "html" %}
              <div>
                <h1 class="service-title">Staff Services</h1>
                <p class="service-para">In the rapidly evolving world of technology, having the right
                  talent is crucial for maintaining a competitive edge. Our Staff
                  Services provide expert IT professionals who seamlessly integrate
                  into your team, driving innovation and achieving your business
                  objectives.</p>
              </div>
              {% end_module_attribute %}
              {% end_dnd_module %}
        {% end_dnd_section %}
        {% end_dnd_area %}
    
        {% dnd_area "mobile_Card7 ", class="bg-container", label="mobile_Card7" %}
        {% dnd_section vertical_alignment="MIDDLE" class='custom-section' %}
            {% dnd_module path="@hubspot/linked_image",
            img={
            "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
            "loading": context.image_loading or "disabled",
            "src": context.image or get_asset_url('../../assets/Design.svg'),
            "class":"custom-image"
            },
            width=6,
    
            %}
            {% end_dnd_module %}
            {% dnd_module
            path='@hubspot/rich_text',
            offset=6,
            width=6,
            label="Rich text"
            %}
            {% module_attribute "html" %}
            <div>
              <h1 class="service-title"> User Experience</h1>
              <p class="service-para">We help brands create seamless and enjoyable user experiences,
                driving customer loyalty and satisfaction. Our human-centered
                approach enhances engagement, improves efficiency, and ensures a
                rapid return on investment.</p>
            </div>
            {% end_module_attribute %}
            {% end_dnd_module %}
        {% end_dnd_section %}
        {% end_dnd_area %}
    <style>
    
          .mobile-container {
        display: none;
    }
    html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
    /* Show on screens 768px or narrower */
    @media (max-width: 768px) {
        .mobile-container {
            display: block;
            padding: 0 20px;
        }
    
    }
    .Headingsm {
      display: flex;
      flex-direction: column;
      justify-content: end;
     padding-top: 120px;
     padding-left: 20px;
    }
          .Title-Headsm{
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        color: white;
        margin-bottom: 0px;
      }
      .Title-parasm{
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        color: white;
        margin-top: 0px;
      }
        
        @media (max-width: 768px) {
    .hs_cos_wrapper_type_linked_image img {
      width: 350px !important;
      height: 300px !important;
    }
    
  }
  @media (max-width: 768px) {
          
          .main_card-row-0-background-image{
            width: 300px !important; /* Full width for small screens */
      height: 300px !important; /* Auto height to maintain aspect ratio */
      border-radius: 20px !important; 
          }
        }
    </style>
        {% endblock %}
    </main>
    