<!--
  templateType: global_partial
  label: Understand
-->

<ul class="flex flex-wrap lg:flex-nowrap space-y-2">
  <li
    class="w-6/12 lg:w-2/12 rounded-full h-36 font-bold text-center text-5xl bg-slate-200 flex justify-center items-center"
  >
    we
  </li>
  <li
    class="w-6/12 lg:w-4/12 rounded-full h-36 bg-Hand bg-cover relative flex justify-center items-center bg-center"
  >
    <p class="absolute md:text-4xl text-lg text-white">Understand</p>
  </li>
  <li
    class="w-6/12 lg:w-2/12 rounded-full h-36 font-bold text-center text-5xl bg-sky-400 flex justify-center items-center"
  >
    <i class="fa-solid fa-arrow-right"></i>
  </li>
  <li
    class="w-6/12 lg:w-4/12 rounded-full h-36 bg-Tech l bg-cover relative flex justify-center items-center"
  >
    <p class="absolute md:text-4xl text-lg text-white">Tech</p>
  </li>
</ul>
