<!--
  templateType: global_partial
  label: RecentWork
-->

<!-- card class -->
<div
  class="my-6 flex h-80 cards-container items-center gap-5 *:h-96 *:overflow-hidden *:rounded-2xl *:bg-slate-600 *:duration-300"
>
  <!-- cemex card  -->
  <div
    class="group group-hover:w-[380px] card relative w-[500px] h-80 hover:w-![500px] transition-all duration-300"
  >
    <img
      class="size-full object-cover"
      src="{{get_asset_url('../../assets/Cemex-final1.svg')}}"
      alt="cemex"
    />
    <div class="absolute inset-0 bg-opacity-25 blur-overlay"></div>
    <div
      class="absolute top-4 right-4 w-8 h-8 rounded-3xl bg-white flex justify-center rotate-45 items-center group-hover:rotate-90 group-hover:bg-blue-300 transition-transform duration-300"
    >
      <i class="fa-solid fa-arrow-up up-arrow transition-all duration-300"></i>
    </div>
    <div class="absolute top-4 left-4 text-sky-500 cemex-tags">
      <div>
        <i class="fa-regular fa-circle-dot text-2xl"></i>
        <button class="border rounded-xl text-sky-500 px-3 border-sky-400">
          Multi-lingual website
        </button>
      </div>
      <div>
        <button class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1">
          Completed in 6 months
        </button>
        <i class="fa-regular fa-circle-dot text-2xl"></i>
      </div>
    </div>
    <!-- Company info -->
    <div class="absolute bottom-0 text-white p-5 group">
      <h2 class="font-bold text-2xl">Cemex</h2>
      <p class="">
        True testament to building and delivering in agile in record time with
        quality
      </p>
      <button
        class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
      >
      <a href="/comingsoon-dev">EXPLORE CASE STUDY</a>
        <i class="fa-solid fa-arrow-right text-sm"></i>
      </button>
    </div>
  </div>

  <!-- Jacana Card -->
  <div
    class="group relative card w-[380px] h-80 hover:w-[500px] transition-all duration-300"
  >
    <img
      class="size-full object-cover"
      src="{{get_asset_url('../../assets/Jacana-final1.svg')}}"
      alt="cemex"
    />
    <div class="absolute inset-0 bg-black bg-opacity-25 blur-overlay"></div>
    <div
      class="absolute top-4 right-4 w-8 h-8 rounded-3xl bg-white flex justify-center rotate-45 items-center hover:bg-blue-300 group-hover:rotate-90 transition-transform duration-300"
    >
      <i
        class="fa-solid fa-arrow-up up-arrow transition-opacity duration-200"
      ></i>
    </div>
    <!-- Tags -->
    <div class="absolute top-4 left-4 text-sky-500 tags hidden">
      <div>
        <i class="fa-regular fa-circle-dot text-2xl"></i>
        <button class="border rounded-xl text-sky-500 px-3 border-sky-400">
          Multi-lingual website
        </button>
      </div>
      <div>
        <button class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1">
          Completed in 6 months
        </button>
        <i class="fa-regular fa-circle-dot text-2xl"></i>
      </div>
    </div>
    <!-- Company info -->
    <div class="absolute bottom-0 text-white p-5 group">
      <h2 class="font-bold text-2xl">Jacana</h2>
      <p class="">A gobal hotel chain integrating into Oracle Cloud</p>
      <button
        class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
      >
      <a href="/comingsoon-dev">EXPLORE CASE STUDY</a>
        <i class="fa-solid fa-arrow-right text-sm"></i>
      </button>
    </div>
  </div>

  <!-- Marriot -->
  <div class="group relative card h-80 hover:w-[500px] w-[380px]">
    <img
      class="size-full object-cover"
      src="{{get_asset_url('../../assets/Marriot-final1.svg')}}"
      alt="Marriot"
    />
    <div class="absolute inset-0 bg-black bg-opacity-25 blur-overlay"></div>
    <div
      class="absolute top-4 right-4 w-8 h-8 rounded-3xl bg-white flex justify-center rotate-45 items-center hover:bg-blue-300 group-hover:rotate-90 transition-transform duration-300"
    >
      <i
        class="fa-solid fa-arrow-up up-arrow transition-opacity duration-200"
      ></i>
    </div>
    <!-- Tags -->
    <div class="absolute top-4 left-4 text-sky-500 tags hidden">
      <div>
        <i class="fa-regular fa-circle-dot text-2xl"></i>
        <button class="border rounded-xl text-sky-500 px-3 border-sky-400">
          Multi-lingual website
        </button>
      </div>
      <div>
        <button class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1">
          Completed in 6 months
        </button>
        <i class="fa-regular fa-circle-dot text-2xl"></i>
      </div>
    </div>
    <!-- Company info -->
    <div class="absolute bottom-0 text-white p-5 group">
      <h2 class="font-bold text-2xl">Marriot</h2>
      <p class="">A warranty integrating framework to power B2B sales</p>
      <button
        class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
      >
      <a href="/comingsoon-dev">EXPLORE CASE STUDY</a>
        <i class="fa-solid fa-arrow-right text-sm"></i>
      </button>
    </div>
  </div>
</div>
