<!--
    templateType: blog_listing
    isAvailableForNewContent: true
    label: Blog-List
    screenshotPath: ../images/template-previews/blog-index.png
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Blog Listing</title>
  {{ require_css(get_asset_url("./blog.css")) }} {{
  require_css(get_asset_url("../css/components/output.css")) }} {{
  standard_header_includes }}
  <link rel="icon" type="image/jpg" href="{{get_asset_url('../assets/Brandmark-logo.svg') }}">
  <link rel="icon" type="image/jpg" href="{{get_asset_url('../assets/neartekpod_logo.jpg') }}">
</head>

<body>
  {% block header %} {% global_partial path="./partials/header.html" %} {%
  endblock header %}

  <div class="md:container xl:px-32 mt-24 mx-auto px-4">
    <main>
      <div>
        {% if contents|length > 0 %}
        <!-- Featured Article: Latest Blog Post -->
        {% set featured_article = contents[0] %}

        <article
          class="flex flex-col md:flex-row border p-6 rounded-lg shadow-lg mt-32 gap-5 font-Montserrat hover:shadow-xl transition-shadow duration-300">
          <!-- Image Section -->
          <a href="{{ featured_article.absolute_url }}" class="block w-full md:w-1/2">
            <img src="{{ featured_article.featured_image }}" alt="{{ featured_article.name }}"
              class="w-full h-auto object-cover rounded-lg md:rounded-r-none md:rounded-l-lg mb-4 md:mb-0" />
          </a>

          <!-- Text Section -->
          <div class="flex flex-col justify-between p-4 md:w-1/2">
            <h2 class="text-xl font-bold mb-6">
              <a href="{{ featured_article.absolute_url }}" class="hover:underline">
                {{ featured_article.name }}
              </a>
            </h2>
            <p class="text-gray-600 mt-2 text-sm md:text-base">
              {{ featured_article.post_body | truncate(200, '...') }}
            </p>

            <div class="mt-5">
              <p class="text-blue-700">{{ featured_article.publish_date_local_time.strftime('%d') }} {{
                featured_article.publish_date_local_time.strftime('%B') }}, {{
                featured_article.publish_date_local_time.strftime('%Y') }}</p>
            </div>
            <!-- Separator Line -->
            <hr class="border-t-2 border-blue-400 my-4">


            <!-- Author Section -->
            <div class="flex items-center space-x-4 mb-0">
              <img src="{{ featured_article.blog_post_author.avatar }}" alt="Author Avatar"
                class="w-10 h-10 rounded-full object-cover" />
              <div>
                <a href="{{ blog_author_url(group.id, featured_article.blog_post_author.slug) }}" rel="author"
                  class="text-blue-600 hover:underline text-lg font-semibold">
                  {{ featured_article.blog_post_author.display_name }}
                </a>
              </div>
            </div>
          </div>
        </article>

        <!-- Remaining Articles in 3x3 Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
          {% for content in contents[1:] %}
          <article class="border p-4 rounded-lg shadow-lg grid  gap-4 h-1/2">
            {% if content.featured_image %}
            <a href="{{ content.absolute_url }}">
              <img src="{{ content.featured_image }}" alt="{{ content.name }}"
                class="row-span-1 w-full h-36 object-cover rounded-t-lg" />
            </a>

            {% endif %}
            <div class="row-span-3 flex flex-col ">
              <h2 class="text-xl font-bold mb-2">
                <a href="{{ content.absolute_url }}" class="hover:underline">{{ content.name }}</a>
              </h2>
              <p class="text-gray-700 text-lg mb-4">
                {{ content.post_body| truncate(200, '...') }}
              </p>
              <div class="flex items-center">
                <img src="{{ content.blog_post_author.avatar }}" alt="Author Avatar"
                  class="w-12 h-12 rounded-full object-cover" />
                <div class="ml-3 flex flex-col">
                  <a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}" rel="author"
                    class="text-blue-600 hover:underline text-lg font-semibold">
                    {{ content.blog_post_author.display_name }}
                  </a>
                  <hr class="border-t-2 border-blue-400 my-4">

                  <p class="text-blue-700">
                    {{ content.publish_date_local_time.strftime('%d') }}
                    {{ content.publish_date_local_time.strftime('%B') }},
                    {{ content.publish_date_local_time.strftime('%Y') }}
                  </p>
                </div>
              </div>
            </div>

          </article>
          {% endfor %}
        </div>
        {% else %}
        <p class="text-gray-700">No blog posts available.</p>
        {% endif %}
      </div>
      {{ standard_footer_includes }} {% block footer %}
    {% global_partial path="./partials/footer.html" %}
    {% endblock footer %}
    </main>
  </div>
</body>

</html>