<!--
  templateType: page
  isAvailableForNewContent: true
  label: NTP-Contact
  screenshotPath: ../images/template-previews/home.png
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    {{ require_css(get_asset_url("../css/components/output.css")) }} {{
    standard_header_includes }}
  </head>
  <body class="">
    {% block Navbar %} {% global_partial path="./partials/navbar.html" %} {%
    endblock Navbar %}
    <div class="absolute top-[50px] left-30">
      {% block Backgroundcolor %} {% global_partial
      path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor %}
    </div>
    <div class="absolute top-[550px] left-30">
      {% block Backgroundcolor %} {% global_partial
      path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor %}
    </div>
    <div class="mt-32 mb-20">
      <div class="md:container">
        <div
          class="flex flex-wrap md:flex-nowrap shadow bg-customgradient gap-2 rounded-3xl p-6 justify-center"
        >
          <div class="md:w-1/2">
            <div
              class="bg-hawkesblue shadow-md flex flex-col justify-between h-full p-7 rounded-3xl"
            >
              <div class="">
                <h2 class="font-medium text-2xl md:text-4xl">Contact us</h2>
                <p class="mt-10">
                  <i class="fa-regular fa-envelope text-xl"></i>
                  <span class="text-base">growth@neartekpod.com</span>
                </p>
                <p class="mt-10">
                  <i class="fa-solid fa-phone text-xl"></i>
                  <span class="text-base">+(847) 450-3728</span>
                </p>
                <p class="mt-10">
                  <i class="fa-solid fa-location-dot text-xl"></i>
                  <span class="text-base">Lorem ipsum dolor sit amet</span>
                </p>
              </div>
              <div class="flex gap-4 leading-4 text-xl mt-14 md:mt-0">
                <p class="">Follow us:</p>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
          <div class="md:w-1/2">
            <form id="contact-form" class="p-8 rounded-3xl w-full max-w-md">
              <div class="mb-4">
                <input
                  type="text"
                  id="first-name"
                  name="first-name"
                  class="contact-border border-customgradient"
                  placeholder="First Name"
                  required
                />
                <span
                  class="text-red-300 text-sm mt-1"
                  id="first-name-error"
                ></span>
              </div>
              <div class="mb-4">
                <input
                  type="text"
                  id="last-name"
                  name="last-name"
                  class="contact-border border-customgradient"
                  placeholder="Last Name"
                  required
                />
                <span
                  class="text-red-500 text-sm mt-1"
                  id="last-name-error"
                ></span>
              </div>
              <div class="mb-4">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="contact-border"
                  required
                  placeholder="Email address"
                />
                <span class="text-red-500 text-sm mt-1" id="email-error"></span>
              </div>
              <div class="mb-4">
                <input
                  type="text"
                  id="company"
                  name="company"
                  placeholder="Company Name"
                  class="contact-border"
                />
                <span
                  class="text-red-500 text-sm mt-1"
                  id="company-error"
                ></span>
              </div>
              <div class="mb-4">
                <input
                  type="text"
                  id="country"
                  name="country"
                  placeholder="Country"
                  class="contact-border"
                  required
                />
                <span
                  class="text-red-500 text-sm mt-1"
                  id="country-error"
                ></span>
              </div>
              <div class="mb-4">
                <textarea
                  id="message"
                  name="message"
                  class="mt-1 border-1 border-customgradient w-full p-2 !ring-0 bg-transparent placeholder-custom"
                  placeholder="Message"
                  required
                ></textarea>
                <span
                  class="text-red-500 text-sm mt-1"
                  id="message-error"
                ></span>
              </div>
              <div class="mb-4">
                <label class="inline-flex items-center">
                  <input
                    type="checkbox"
                    id="agree"
                    name="agree"
                    class="form-checkbox bg-transparent"
                    required
                  />
                  <span class="ml-2 font-medium text-xs"
                    >I agree to the terms and conditions</span
                  >
                </label>
                <span class="text-red-500 text-sm mt-1" id="agree-error"></span>
              </div>

              <div class="flex justify-center">
                <button
                  type="submit"
                  class="py-3 px-10 border rounded-3xl bg-white text-black font-bold text-xs items-center"
                >
                  SEND MESSAGE
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute top-[450px] right-0">
      {% block Backgroundcolor %} {% global_partial
      path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor %}
    </div>
  </body>
  {{ standard_footer_includes }} {% block footer %} {% global_partial
  path="./partials/footer.html" %} {% endblock footer %} {{
  require_js(get_asset_url("../js/main.js")) }}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    document
      .getElementById("contact-form")
      .addEventListener("submit", async function (event) {
        event.preventDefault();

        let isValid = true;
        const formElements = event.target.elements;
        const validationErrors = {};

        // Validate required fields
        for (const element of formElements) {
          if (
            element.type !== "submit" &&
            element.hasAttribute("required") &&
            !element.value
          ) {
            isValid = false;
            validationErrors[element.name] = "This field is required";
          }
        }

        // Validate "I agree" checkbox
        if (!formElements["agree"].checked) {
          isValid = false;
          validationErrors["agree"] =
            "You must agree to the terms and conditions";
        }

        document
          .querySelectorAll(".text-red-500")
          .forEach((errorElement) => (errorElement.textContent = ""));
        if (!isValid) {
          for (const [fieldName, errorMessage] of Object.entries(
            validationErrors
          )) {
            document.getElementById(`${fieldName}-error`).textContent =
              errorMessage;
          }
          return;
        }

        const formData = {
          fields: [
            { name: "firstname", value: formElements["first-name"].value },
            { name: "lastname", value: formElements["last-name"].value },
            { name: "email", value: formElements["email"].value },
            { name: "company", value: formElements["company"].value },
            { name: "country", value: formElements["country"].value },
            { name: "message", value: formElements["message"].value },
          ],
        };

        try {
          const response = await fetch(
            "https://api.hsforms.com/submissions/v3/integration/submit/46156581/2802cfc9-eab5-410b-8434-29781dfb9cc9",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(formData),
            }
          );

          if (!response.ok) {
            throw new Error("Network response was not ok");
          }

          alert("Form submitted successfully!");
          event.target.reset();
        } catch (error) {
          alert("There was a problem submitting the form: " + error.message);
        }
      });
  </script>
</html>
