<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    {{ require_css(get_asset_url("../css/components/output.css")) }} {{
    standard_header_includes }}
    <link rel="icon" type="image/jpg" href="{{get_asset_url('../assets/Brandmark-logo.svg') }}"><link rel="icon" type="image/jpg" href="{{get_asset_url('../assets/neartekpod_logo.jpg') }}">
  </head>
  <body class="bg-gray-100 overflow-hidden md:container md:px-24 px-3">
    <section class="mt-24 relative">
      <div class="flex items-center bg-Hospitality rounded-xl bg-cover h-auto w-full  gap-x-4 justify-end p-10">
        <div class="absolute bottom-5 left-5 pt-80 pl-11 lg:w-1/2">
          <h1 class="text-white text-3xl md:text-4xl font-bold leading-tight">
            Elevate Your Hospitality Experience with our <br> 
            <span class="text-blue-400">Oracle Opera Cloud Solutions</span>
          </h1>
          <button class="bg-[#1264D1] hover:bg-[#0f4ca8] text-white px-6 py-3 rounded-full font-semibold flex items-center space-x-2">
            <span>Contact us</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
            </svg>
        </button>
        </div>
        <!-- Card 1 -->
        <div class="w-60 h-auto bg-white bg-opacity-30 backdrop-blur-md shadow-lg rounded-2xl p-3">
          <div class="flex justify-end">
              <img
                src="{{get_asset_url('../assets/card1.svg')}}" 
                alt="Card Image"
                class="rounded-lg shadow-md w-10"
              />
            </div>
          <div class="flex items-center space-x-4 gap-2">
            <h3 class=" text-white text-2xl font-semibold ">Connected Guest Experiences</h3>
          </div>
          <p class="text-white text-base font-medium">Deliver seamless, personalized interactions that keep your guests coming back.</p>
        </div>

        <div class="space-y-5">
          <!-- Card 2 -->
          <div class="w-60 h-auto bg-white bg-opacity-30 backdrop-blur-md shadow-lg rounded-2xl p-3">
            <div class="flex justify-end">
                <img
                  src="{{get_asset_url('../assets/Card2.svg')}}" 
                  alt="Card Image"
                  class="rounded-lg shadow-md w-10"
                />
              </div>
            <div class="flex items-center space-x-4 gap-2">
              <h3 class=" text-white text-2xl font-semibold ">Streamlined Operations</h3>
            </div>
            <p class="text-white text-base font-medium">Optimize your hotel's operations, from bookings to housekeeping.</p>
          </div>
          <!-- Card 3 -->
          <div class="w-60 h-auto bg-white bg-opacity-30 backdrop-blur-md shadow-lg rounded-2xl p-3">
            <div class="flex justify-end">
                <img
                  src="{{get_asset_url('../assets/Card3.svg')}}" 
                  alt="Card Image"
                  class="rounded-lg shadow-md w-10"
                />
              </div>
            <div class="flex items-center space-x-4 gap-2">
              <h3 class=" text-white text-2xl font-semibold ">Speed to Market</h3>
            </div>
            <p class="text-white text-base font-medium">Accelerate your time to market with efficient onboarding and integration processes.</p>
          </div>
        </div>
      </div>
    </section>
  </body>
 
  {{ standard_footer_includes }}
  </html>