<!--
  templateType: page
  isAvailableForNewContent: true
  label: NTP-Home
  screenshotPath: ../images/template-previews/home.png
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    {{ require_css(get_asset_url("../css/components/output.css")) }} {{
    standard_header_includes }}
  </head>
  <body class="">
    {% block Navbar %} {% global_partial path="./partials/navbar.html" %} {%
    endblock Navbar %}

    <div
      class="md:container relative md:px-auto px-3 flex lg:flex-row flex-col gap-10 mt-32"
    >
      <div
        class="flex-1 pt-9 pb-16 bg-coralblue rounded-3xl aspect-square bg-cover bg-center flex flex-col items-center text-center z-40"
      >
        <div class="max-w-md mx-auto mt-7 md:mt-12">
          <h5 class="sm:text-3xl font-medium p-2 text-base">
            Navigate Tech Complexity & Grow your Business Together
          </h5>
        </div>

        <div class="flex flex-wrap justify-center sm:gap-1 gap-4 my-8">
          {% block Email %} {% global_partial path="./Components/email.html " %}
          {% endblock Email %}
        </div>
        <div class="flex content-center justify-center my-14">
          <div class="flex -space-x-4 rtl:space-x-reverse">
            <img
              class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
              src="{{get_asset_url('../assets/face1.jpg')}}"
              alt="img"
            />
            <img
              class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
              src="{{get_asset_url('../assets/face2.jpg')}}"
              alt="img"
            />
            <img
              class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
              src="{{get_asset_url('../assets/face-3.jpg')}}"
              alt="img"
            />
          </div>
        </div>
        <h5 class="font-medium text-base">300+</h5>
        <p class="w-4/5 mx-auto text-center font-medium text-base">
          Global networks of trusted service provides and technology partners
          ready to deploy
        </p>
      </div>
      <div
        class="flex-1 aspect-square bg-WorldMap bg-cover bg-center relative rounded-3xl z-40"
      >
        <a href="/about-dev">
          <img
            src="{{get_asset_url('../assets/We & our card.svg')}}"
            alt="Card Image"
            class="absolute top-3 left-3 w-1/2 h-auto rounded-lg shadow-md"
          />
        </a>

        <div class="absolute right-5 bottom-2">
          <div class="flex space-x-3">
            <a href="https://www.facebook.com/" target="_blank"
              ><i
                class="fa-brands fa-square-facebook border border-blue-300 rounded-3xl p-1 text-blue-300"
              ></i
            ></a>
            <a
              href="https://www.linkedin.com/company/neartekpod-apac-technologies-pvt-limited/people/"
              target="_blank"
              ><i
                class="fa-brands fa-linkedin border border-blue-300 rounded-3xl p-1 text-blue-300"
              ></i
            ></a>
            <p class="font-light text-blue-300">Find us on social networks</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="md:container flex flex-wrap md:flex-nowrap gap-5 mt-32">
      <div class="md:w-1/2">
        <div
          class="bg-coralblue rounded-3xl aspect-square bg-cover bg-center p-14"
        >
          <div class="max-w-md mx-auto text-center">
            <h5 class="sm:text-3xl font-medium p-2 text-base">
              Navigate Tech Complexity & Grow your Business Together
            </h5>
          </div>

          <div class="flex flex-wrap justify-center sm:gap-1 gap-4 my-8">
            {% block Email %} {% global_partial path="./Components/email.html "
            %} {% endblock Email %}
          </div>
          <div class="flex content-center justify-center my-14">
            <div class="flex -space-x-4 rtl:space-x-reverse">
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face1.jpg')}}"
                alt="img"
              />
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face2.jpg')}}"
                alt="img"
              />
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face-3.jpg')}}"
                alt="img"
              />
            </div>
          </div>
          <h5 class="font-medium text-base text-center">300+</h5>
          <p class="w-4/5 mx-auto text-center font-medium text-base">
            Global networks of trusted service provides and technology partners
            ready to deploy
          </p>
        </div>
      </div>
      <div class="md:w-1/2">
        <div
          class="bg-WorldMap rounded-3xl aspect-square bg-cover bg-center relative"
        >
          <img
            src="{{get_asset_url('../assets/We & our card.svg')}}"
            alt="Card Image"
            class="absolute top-3 left-3 w-1/2 h-auto rounded-lg shadow-md"
          />

          <div class="absolute right-5 bottom-2">
            <div class="flex space-x-3">
              <a href="https://www.facebook.com/" target="_blank"
                ><i
                  class="fa-brands fa-square-facebook border border-blue-300 rounded-3xl p-1 text-blue-300"
                ></i
              ></a>
              <a
                href="https://www.linkedin.com/company/neartekpod-apac-technologies-pvt-limited/people/"
                target="_blank"
                ><i
                  class="fa-brands fa-linkedin border border-blue-300 rounded-3xl p-1 text-blue-300"
                ></i
              ></a>
              <p class="font-light text-blue-300">Find us on social networks</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- </div> -->
    <div class="absolute top-[220px] right-0">
      {% block Backgroundcolor %} {% global_partial
      path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor %}
    </div>

    <div
      class="md:container mx-auto items-center justify-between text-center md:mt-24 mt-10"
    >
      <div class="flex w-full flex-wrap lg:flex-nowrap px-8 justify-center">
        <h2
          class="md:text-3xl text-xl font-medium whitespace-nowrap grid place-items-center pr-3"
        >
          Our clients
        </h2>
        <div class="marquee-container">
          {% block Marquee %} {% global_partial path="./Components/marque.html "
          %} {% endblock Marquee %}
        </div>
      </div>
      <div class="absolute top-[550px] left-30">
        {% block Backgroundcolor %} {% global_partial
        path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor
        %}
      </div>
      <div class="lg:my-24 my-10 px-4">
        <p
          class="text-xl md:text-4xl max-w-4xl mx-auto font-medium md:leading-[3rem]"
        >
          Modern businesses require experienced technologists and robust
          technology solutions to achieve their goals.
        </p>
        <button
          class="btn rounded-full border-[1px] text-base font-medium p-3 mt-6 border-primaryblack hover:bg-bluechalk hover:border-bluechalk transition ease-in-out"
        >
          View Our Service <i class="fa-solid fa-arrow-right ml-3"></i>
        </button>
      </div>
    </div>
    <div class="md:container p-4">
      {% block Understand %} {% global_partial
      path="./Components/understand.html " %} {% endblock Understand %}

      <div class="mt-28 mb-20 hidden lg:flex flex-col">
        <div class="items-start">
          <h2 class="font-medium text-3xl mb-10">Some of our Recent Works</h2>
        </div>
        {% block RecentWork %} {% global_partial path="./Components/work.html "
        %} {% endblock RecentWork %}
      </div>

      <div class="swiper mySwiper lg:hidden">
        <div class="items-start">
          <h2 class="font-medium text-xl md:text-3xl my-10">
            Some of our Recent Works
          </h2>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide text-center">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Cemex-test.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Cemex</h2>
                <p class="">
                  True testament to building and delivering in agile in record
                  time with quality
                </p>
                <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                  EXPLORE CASE STUDY
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button>
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
                Multi-lingual website
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
                Completed in 6 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
          <div class="swiper-slide text-center">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Jacana-1.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Jacana</h2>
                <p class="">
                  A gobal hotel chain integrating into Oracle Cloud
                </p>
                <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                  EXPLORE CASE STUDY
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button>
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
                Multi-lingual website
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
                Completed in 6 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
          <div class="swiper-slide swiperslide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Marriot-1.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Marriot</h2>
                <p class="">
                  A warranty integrating framework to power B2B sales
                </p>
                <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                  EXPLORE CASE STUDY
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button>
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
                Multi-lingual website
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
                Completed in 6 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="">
        <div class="mx-auto">
          <div class="items-start">
            <h2 class="font-medium text-2xl md:text-3xl mb-10 md:mt-28 mt-14">
              What our Client Say
            </h2>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div
              class="grid grid-cols-5 border rounded-2xl bg-customgradient overflow-hidden"
            >
              <div class="col-span-2">
                <img
                  class="size-full object-cover"
                  src="{{get_asset_url('../assets/Client-person-1.svg')}}"
                  alt=""
                />
              </div>
              <div class="col-span-3 p-4">
                <p class="text-gray-700 mb-10 text-base font-medium">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Velit, nostrum nihil esse, excepturi inventore consectetur
                  blanditiis ab sequi accusamus reiciendis soluta exercitationem
                  iure tempore vitae ratione, corporis eveniet placeat
                  molestiae!
                </p>
                <h1 class="text-gray-900 mb-2 text-3xl font-semibold">
                  John Doe
                </h1>
                <p class="text-gray-900 text-sm font-medium">CEO AXTECH</p>
              </div>
            </div>
            <div
              class="grid grid-cols-5 border rounded-2xl bg-customgradient overflow-hidden"
            >
              <div class="col-span-2">
                <img
                  class="size-full object-cover"
                  src="{{get_asset_url('../assets/client-person-2.svg')}}"
                  alt=""
                />
              </div>
              <div class="col-span-3 p-4">
                <p class="text-gray-700 mb-10 text-base font-medium">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Repellendus voluptates officiis, minima inventore, sunt veniam
                  eveniet at sapiente dolore et nam corporis iste, vitae
                  consequatur? Fugit animi nesciunt aperiam minus.
                </p>
                <h1 class="text-gray-900 mb-1 text-3xl font-semibold">
                  Lisa Powell
                </h1>
                <p class="text-gray-900 text-sm font-medium">
                  CEO Nuts Pvt. Ltd.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper mySwiper lg:hidden">
        <div class="items-start">
          <h2 class="font-medium text-xl md:text-3xl my-10">Our Pods</h2>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide text-center">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Trichy3.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Trichy,India</h2>
                <p class="">
                  Si Towers,No-15,Second floor, Melapudur main road,Trichy,Tamil
                  nadu-620001
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide text-center">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Chicago3.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Lisbon</h2>
                <p class="">
                  True testament to building and delivering in agile in record
                  time with quality
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiperslide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Lisbon3.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Chicago,USA</h2>
                <p class="">575 W Helen Rd,Palatine ,IL 60067</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="mt-32 mb-20 hidden lg:flex flex-col">
        <div class="items-start">
          <h2 class="font-medium text-3xl mb-10">Our Pods</h2>
        </div>
        {% block ourpods %} {% global_partial path="./Components/our-pods.html "
        %} {% endblock ourpods %}
      </div>
    </div>
  </body>
  {{ standard_footer_includes }} {% block footer %} {% global_partial
  path="./partials/footer.html" %} {% endblock footer %} {{
  require_js(get_asset_url("../js/main.js")) }}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const cards = document.querySelectorAll(".card");
      const cemexTags = document.querySelector(".cemex-tags");

      cards.forEach((card) => {
        const tags = card.querySelector(".tags");

        card.addEventListener("mouseenter", function () {
          if (this !== document.querySelector(".card:first-child")) {
            cemexTags.classList.add("hidden");
            tags.classList.remove("hidden");
          }
        });

        card.addEventListener("mouseleave", function () {
          if (this !== document.querySelector(".card:first-child")) {
            tags.classList.add("hidden");
            cemexTags.classList.remove("hidden");
          }
        });
      });
    });
  </script>
</html>
