<!--
    templateType: blog_post
    isAvailableForNewContent: true
    label: Blog-Post
    screenshotPath: ../images/template-previews/blog-post.png
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  {{ require_css(get_asset_url("../css/components/output.css")) }}
  {{ require_js(get_asset_url('./Scripts/ntp-career.js')) }}
  {{ standard_header_includes }}
  <link rel="icon" type="image/jpg" href="{{get_asset_url('../assets/Brandmark-logo.svg') }}"><link rel="icon" type="image/jpg" href="{{get_asset_url('../assets/neartekpod_logo.jpg') }}">

</head>

<body>
  {% block header %}
  {% global_partial path="./partials/header.html" %}
  {% endblock header %}

  <main class="container xl:px-32 mx-auto p-4">
    <article class="prose lg:prose-xl">
      <div class="bg-service">
        <div
          class="flex flex-col md:flex-row border p-6 rounded-lg shadow-lg mt-32 gap-5 font-Montserrat hover:shadow-xl transition-shadow duration-300">
          <div class="flex flex-col justify-between p-4 md:w-1/2">
            <h2 class=" md:text-4xl font-medium mb-1">{{ content.name }}</h2>
            <!-- <h1 class="text-white md:text-2xl font-medium mb-1">{{content.post_summary}}</h1> -->

            <div>
              <p class="text-blue-700"> {{ content.publish_date_local_time.strftime('%d') }}
                {{ content.publish_date_local_time.strftime('%B') }},
                {{ content.publish_date_local_time.strftime('%Y') }}</p>
            </div>
            <hr class="border-t-2 border-blue-400 mt-0">

            <div class="flex items-center space-x-4 mb-0">
              <img src="{{ content.blog_post_author.avatar }}" alt="Author Avatar"
                class="w-10 h-10 rounded-full object-cover" />
              <div>
                <a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}" rel="author"
                  class="text-blue-600 hover:underline text-lg font-semibold">
                  {{ content.blog_post_author.display_name }}
                </a>
              </div>
            </div>
          </div>
          <div class="block w-full md:w-1/2">
            <img src="{{ content.featured_image }}" alt="Featured Image"
              class="w-full h-auto object-cover rounded-lg md:rounded-r-none md:rounded-l-lg mb-4 md:mb-0" />
          </div>
        </div>
      </div>
      <div class="p-6">
        <div class="text-gray-700 mt-10  leading-relaxed font-Montserrat">
          {{ content.post_body }}
        </div>
      </div>
      <div class="flex content-center justify-center">
        <div class="bg-customgradient p-6 md:w-3/4 mt-10 rounded-lg shadow-lg">
          <h3 class="text-center font-medium text-2xl mb-4">Subscribe and stay up to date with latest tech and tips</h3>
          <div class="flex items-center  justify-center mt-7">
            <form
          id="emailForm"
          class="flex flex-wrap lg:flex-nowrap gap-3 justify-center items-center"
        >
          <input
            type="email"
            id="email"
            placeholder="Enter Your email id"
            name="email"
            class="rounded-2xl bg-hawkesblue md:w-80 w-3/4 h-9 font-medium text-sm border-none focus:outline-none p-4"
          />

          <button
            type="submit"
            class="btn bg-primarywhite rounded-2xl ml-2 w-32 h-9 text-primaryblack text-base  md:mt-0 px-3 font-medium" 
          >
            Subscribe<i class="fa-solid fa-arrow-right ml-2 text-sm"></i>
          </button>
        </form>
        <p id="emailError" class="text-errorred text-xs font-bold hidden">
          Please enter a valid email address.
        </p>
          </div>
          
        </div>
      </div>
    </article>
  </main>
  <section class="mt-32 container xl:px-32 px-3">
    {{ standard_footer_includes }} {% block footer %}
    {% global_partial path="./partials/footer.html" %}
    {% endblock footer %}
  </section>
</body>

</html>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var emailInput = document.getElementById("email");
    var emailError = document.getElementById("emailError");

    // Email validation regex
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    // Real-time email validation
    emailInput.addEventListener("input", function () {
      if (!emailRegex.test(emailInput.value)) {
        emailError.classList.remove("hidden");
      } else {
        emailError.classList.add("hidden");
      }
    });

    document
      .getElementById("emailForm")
      .addEventListener("submit", function (e) {
        e.preventDefault();

        var email = emailInput.value;

        if (!emailRegex.test(email)) {
          emailError.classList.remove("hidden");
          return;
        } else {
          emailError.classList.add("hidden");
        }

        // Send email to HubSpot using the Forms API
        var xhr = new XMLHttpRequest();

        var url =
          "https://api.hsforms.com/submissions/v3/integration/submit/45046299/0b5321c5-864f-4c86-abe7-9769f76dfbc2";

        var data = {
          fields: [{ name: "email", value: email }],
          context: {
            hutk: getCookie("hubspotutk"),
            pageUri: window.location.href,
            pageName: document.title,
          },
        };

        xhr.open("POST", url);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              alert("We received your Email Id successfully!");
              document.getElementById("emailForm").reset();
            } else {
              console.log("Error: " + xhr.responseText);
            }
          }
        };
        xhr.send(JSON.stringify(data));
      });

    // Function to get HubSpot user token cookie (optional but recommended)
    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length === 2) return parts.pop().split(";").shift();
    }
  });
</script>