<!--
  templateType: page
  isAvailableForNewContent: true
  label: NTP-Home 
  screenshotPath: ../images/template-previews/home.png
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    {{ require_css(get_asset_url("../css/components/output.css")) }} {{
    standard_header_includes }}
  </head>
  <body class="">
    {% block header %} {% global_partial path="./partials/header.html" %} {%
    endblock header %}

    <div
      class="md:container relative md:px-auto px-3 flex lg:flex-row flex-col gap-10 mt-32"
    >
      <div
        class="flex-1 pt-9 pb-16 bg-coralblue rounded-3xl aspect-square bg-cover bg-center flex flex-col items-center text-center gap-y-8"
      >
        <div class="max-w-md mx-auto mt-7 md:mt-12">
          <h5 class="sm:text-3xl font-medium p-2 text-base">
            Navigate Tech Complexity & Grow your Businesses Together
          </h5>
        </div>

        <div class="flex flex-wrap justify-center sm:gap-1 gap-4 my-8 my-2">
          {% block Email %} {% global_partial path="./Components/email.html " %}
          {% endblock Email %}
        </div>
        <div class="flex content-center justify-center">
          <div class="flex -space-x-4 rtl:space-x-reverse">
            <img
              class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
              src="{{get_asset_url('/ntp-website-theme/assets/face1.jpg')}}"
              alt="img"
            />
            <img
              class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
              src="{{get_asset_url('/ntp-website-theme/assets/face2.jpg')}}"
              alt="img"
            />
            <img
              class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
              src="{{get_asset_url('/ntp-website-theme/assets/face-3.jpg')}}"
              alt="img"
            />
          </div>
        </div>
        <h5 class="md:mt-5 mt-2 font-medium text-base">300+</h5>
        <p class="w-4/5 mx-auto text-center font-medium text-base">
          Global networks of trusted service provides and technolgy partners
          ready to deplay
        </p>
      </div>
      <div class="flex-1 aspect-square bg-WorldMap bg-cover bg-center relative">
        <div class="absolute md:bottom-40 md:left-24 bottom-24 left-14">
          <a href=""
            ><i class="fa-solid fa-location-dot text-white text-3xl"></i
          ></a>
        </div>
        <div class="absolute md:bottom-64 md:left-6 bottom-40 left-5">
          <a href=""
            ><i class="fa-solid fa-location-dot text-white text-3xl"></i
          ></a>
        </div>
        <div class="absolute md:top-44 lg:right-24 md:right-32 top-24 right-16">
          <a href=""
            ><i class="fa-solid fa-location-dot text-white text-3xl"></i
          ></a>
        </div>
        <div class="absolute md:bottom-20 bottom-12 right-6">
          <div class="flex gap-3">
            <a href=""
              ><i
                class="fa-brands fa-square-facebook border border-blue-300 rounded-3xl p-1 text-blue-300"
              ></i
            ></a>
            <a href=""
              ><i
                class="fa-brands fa-linkedin border border-blue-300 rounded-3xl p-1 text-blue-300"
              ></i
            ></a>
            <p class="font-light text-blue-300">Find us on social networks</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="md:container mx-auto my-8 items-center justify-between text-center mt-12"
    >
      <div class="flex w-full flex-wrap lg:flex-nowrap px-8 justify-center">
        <h2
          class="md:text-3xl text-xl font-medium whitespace-nowrap grid place-items-center pr-3"
        >
          Our clients
        </h2>
        <div class="marquee-container lg:block hidden">
          <marquee class="w-full">
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/Apple.svg')}}"
              alt="Apple"
            />
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/Best buy logo.svg')}}"
              alt="best-buy"
            />
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/cemex.svg')}}"
              alt="cemex"
            />
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/citibank logo.svg')}}"
              alt="citibank logo"
            />
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/Hp.svg')}}"
              alt="Hp"
            />
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/National logo.svg')}}"
              alt="iNational logo"
            />
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/Samsung.svg')}}"
              alt="Samsung"
            />
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/United airlines.svg')}}"
              alt="United airlines"
            />
            <img
              class="h-12 mx-5 inline-block rounded-lg"
              src="{{get_asset_url('../assets/Verizon.svg')}}"
              alt="Verizon"
            />
          </marquee>
        </div>
      </div>
      <div class="lg:hidden flex flex-wrap justify-center items-center">
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/Apple.svg')}}"
          alt="Apple"
        />
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/Best buy logo.svg')}}"
          alt="best-buy"
        />
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/cemex.svg')}}"
          alt="cemex"
        />
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/citibank logo.svg')}}"
          alt="citibank logo"
        />
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/Hp.svg')}}"
          alt="Hp"
        />
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/National logo.svg')}}"
          alt="iNational logo"
        />
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/Samsung.svg')}}"
          alt="Samsung"
        />
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/United airlines.svg')}}"
          alt="United airlines"
        />
        <img
          class="w-1/3 h-12 my-2 mx-2 inline-block rounded-lg"
          src="{{get_asset_url('../assets/Verizon.svg')}}"
          alt="Verizon"
        />
      </div>
      <div class="lg:my-24 my-10 px-4">
        <p
          class="text-xl md:text-4xl max-w-4xl mx-auto font-medium md:leading-[3rem]"
        >
          Modern businesses require exprinced technologists and robust
          technology solution to achieve their goals.
        </p>
        <button
          class="btn rounded-full border-2 text-base font-medium p-2 mt-6 border-primaryblack hover:bg-bluechalk hover:border-bluechalk transition ease-in-out"
        >
          View Our Service <i class="fa-solid fa-arrow-right ml-3"></i>
        </button>
      </div>
    </div>
    <div class="md:container p-4">
      <ul class="flex flex-wrap lg:flex-nowrap space-y-2">
        <li
          class="w-6/12 lg:w-2/12 rounded-full h-36 font-bold text-center text-5xl bg-slate-200 flex justify-center items-center"
        >
          we
        </li>
        <li
          class="w-6/12 lg:w-4/12 rounded-full h-36 bg-Hand bg-cover relative flex justify-center items-center bg-center"
        >
          <p class="absolute md:text-4xl text-lg text-white">Understand</p>
        </li>
        <li
          class="w-6/12 lg:w-2/12 rounded-full h-36 font-bold text-center text-5xl bg-slate-200 flex justify-center items-center"
        >
          <i class="fa-solid fa-arrow-right"></i>
        </li>
        <li
          class="w-6/12 lg:w-4/12 rounded-full h-36 bg-Tech l bg-cover relative flex justify-center items-center"
        >
          <p class="absolute md:text-4xl text-lg text-white">Tech</p>
        </li>
      </ul>
      <div class="continer mt-32 mb-20 hidden lg:flex flex-col">
        <div class="items-start">
          <h2 class="font-medium text-3xl mb-20">Some of our Recent Works</h2>
        </div>
        <div
          class="my-6 flex h-80 items-center gap-5 *:h-96 *:overflow-hidden *:rounded-2xl *:bg-slate-600 group *:duration-300"
        >
          <div
            class="group-hover:w-[380px] hover:!w-[500px] w-[500px] relative h-80"
          >
            <img
              class="size-full object-cover"
              src="{{get_asset_url('../assets/Cemex-image.svg')}}"
              alt="cemex"
            />
            <div
              class="absolute inset-0 bg-black bg-opacity-25 blur-overlay"
            ></div>
            <div
              class="absolute top-4 right-4 w-8 h-8 rounded-3xl bg-white flex justify-center rotate-45 items-center hover:bg-blue-300 group-hover:rotate-90 transition-transform duration-300"
            >
              <i
                class="fa-solid fa-arrow-up up-arrow transition-opacity duration-200"
              ></i>
            </div>
            <div class="absolute bottom-0 text-white p-5 group">
              <h2 class="font-bold text-2xl">Cemex</h2>
              <p class="">
                True testament to building and delivering in agile in record
                time with quality
              </p>
              <button
                class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
              >
                EXPLORE CASE STUDY
                <i class="fa-solid fa-arrow-right text-sm"></i>
              </button>
            </div>
          </div>
          <div class="hover:w-[500px] w-[380px] relative h-80">
            <img
              class="size-full object-cover"
              src="{{get_asset_url('../assets/jacana-image.svg')}}"
              alt="cemex"
            />
            <div
              class="absolute inset-0 bg-black bg-opacity-25 blur-overlay"
            ></div>
            <div
              class="absolute top-4 right-4 w-8 h-8 rounded-3xl bg-white flex justify-center rotate-45 items-center hover:bg-blue-300 group-hover:rotate-90 transition-transform duration-300"
            >
              <i
                class="fa-solid fa-arrow-up up-arrow transition-opacity duration-200"
              ></i>
            </div>
            <div class="absolute bottom-0 text-white p-5 group">
              <h2 class="font-bold text-2xl">Jacana</h2>
              <p class="">
                True testament to building and delivering in agile in record
                time with quality
              </p>
              <button
                class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
              >
                EXPLORE CASE STUDY
                <i class="fa-solid fa-arrow-right text-sm"></i>
              </button>
            </div>
          </div>
          <div class="hover:w-[500px] w-[380px] relative h-80">
            <img
              class="size-full object-cover"
              src="{{get_asset_url('../assets/Marriot.svg')}}"
              alt="cemex"
            />
            <div
              class="absolute inset-0 bg-black bg-opacity-25 blur-overlay"
            ></div>
            <div
              class="absolute top-4 right-4 w-8 h-8 rounded-3xl bg-white flex justify-center rotate-45 items-center hover:bg-blue-300 group-hover:rotate-90 transition-transform duration-300"
            >
              <i
                class="fa-solid fa-arrow-up up-arrow transition-opacity duration-200"
              ></i>
            </div>
            <div class="absolute bottom-0 text-white p-5 group">
              <h2 class="font-bold text-2xl">Marriot</h2>
              <p class="">
                True testament to building and delivering in agile in record
                time with quality
              </p>
              <button
                class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
              >
                EXPLORE CASE STUDY
                <i class="fa-solid fa-arrow-right text-sm"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper mySwiper lg:hidden">
        <div class="items-start">
          <h2 class="font-medium text-xl md:text-3xl my-10">
            Some of our Recent Works
          </h2>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide text-center">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Cemex-image.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Cemex</h2>
                <p class="">
                  True testament to building and delivering in agile in record
                  time with quality
                </p>
                <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                  EXPLORE CASE STUDY
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button>
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
                Multi-lingual website
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
                Completed in 6 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
          <div class="swiper-slide text-center">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Marriot.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Cemex</h2>
                <p class="">
                  True testament to building and delivering in agile in record
                  time with quality
                </p>
                <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                  EXPLORE CASE STUDY
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button>
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
                Multi-lingual website
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
                Completed in 6 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
          <div class="swiper-slide swiperslide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/jacana-image.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Cemex</h2>
                <p class="">
                  True testament to building and delivering in agile in record
                  time with quality
                </p>
                <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                  EXPLORE CASE STUDY
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button>
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
                Multi-lingual website
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
                Completed in 6 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </body>
  {{ standard_footer_includes }} {% block footer %} {% global_partial
  path="./partials/footer.html" %} {% endblock footer %} {{
  require_js(get_asset_url("../js/main.js")) }}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</html>
