<!--
  templateType: page
  isAvailableForNewContent: true
  label: NTP-Career
  screenshotPath: ../images/template-previews/home.png
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    {{ require_css(get_asset_url("../css/components/output.css")) }} {{
    require_js(get_asset_url('./Scripts/ntp-career.js')) }} {{
    standard_header_includes }}
  </head>
  <body class="">
    {% block header %} {% global_partial path="./partials/header.html" %} {%
    endblock header %}
    <div class="absolute top-[50px] left-30">
      {% block Backgroundcolor %} {% global_partial
      path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor %}
    </div>
    <div class="absolute top-[550px] left-30">
      {% block Backgroundcolor %} {% global_partial
      path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor %}
    </div>
    <div class="p-8 mt-24">
      <div class="md:container">
        <!-- Dropdowns -->
        <form
          class="flex flex-wrap md:flex-nowrap justify-center md:justify-between"
          id="dataForm"
        >
          <div class="mb-8 w-full md:mr-2">
            <label for="dropdown1" class="block text-gray-700 text-sm"
              >Job Title</label
            >
            <select
              id="dropdown1"
              name="dropdown1"
              class="block w-full mt-1 p-2 border border-gray-300 rounded-md"
            >
              <option value="">Select Title</option>
            </select>
          </div>

          <div class="mb-8 w-full md:mx-6">
            <label for="dropdown2" class="block text-gray-700 text-sm"
              >Location</label
            >
            <select
              id="dropdown2"
              name="dropdown2"
              class="block w-full md:mt-1 p-2 border border-gray-300 rounded-md"
            >
              <option value="">Select Location</option>
            </select>
          </div>

          <div class="mt-6 w-4/5 h-5">
            <button
              id="submit"
              type="submit"
              class="block w-full mt-1 p-2 border border-gray-400 rounded-3xl font-bold"
            >
              SEARCH
            </button>
          </div>
        </form>

        <div class="absolute top-[450px] right-0">
          {% block Backgroundcolor %} {% global_partial
          path="./Components/backroundcolor.html " %} {% endblock
          Backgroundcolor %}
        </div>
        <!-- Accordion Cards -->
        <div class="space-y-4 mt-20 md:mt-0" id="result">
          <!-- Card-1 -->
          <div id="result"></div>

          <template id="card-template">
            <div
              class="accordion-card bg-gradient-to-r from-blue-200 to-blue-50 p-4 border border-gray-300 rounded-md shadow-sm"
            >
              <button
                class="accordion-header w-full text-left text-gray-700 font-medium flex justify-between items-center"
              >
                <div class="grid">
                  <span class="font-semibold text-2xl card-title"></span>
                  <span class="text-xs font-semibold card-location"></span>
                </div>
                <span class="accordion-icon">+</span>
              </button>
              <div class="accordion-content mt-2 hidden">
                <div class="flex justify-between">
                  <div>
                    <p class="font-bold">Responsibilities</p>
                    <ul class="list-disc ml-4 responsibilities"></ul>
                  </div>
                  <div>
                    <p class="font-bold">Requirements</p>
                    <ul class="list-disc ml-4 requirements"></ul>
                  </div>
                </div>
                <button
                  class="apply-button mt-4 bg-white border border-black text-black py-2 px-4 rounded-full hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50 transition duration-200"
                >
                  Apply Now
                </button>
              </div>
              <button
                class="mt-4 bg-white border border-black text-black py-2 px-8 font-bold rounded-full hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50 transition duration-200"
              >
                Apply Now
              </button>
            </div>
          </template>

          <!-- <div
            id="card-template"
            class="accordion-card bg-gradient-to-r from-blue-200 to-blue-50 p-4 border border-gray-300 rounded-md shadow-sm"
          >
            <button
              class="accordion-header w-full text-left text-gray-700 font-medium flex justify-between items-center"
            >
              <div class="grid">
                <span class="font-semibold text-2xl card-title"></span>
                <span class="text-sm font-semibold card-location"></span>

              </div>
              <span class="accordion-icon">+</span>
            </button>
            <div class="accordion-content mt-2 hidden">
              <div class="flex">
                <div>
                  <p class="font-bold">Responsibilities</p>
                  <ul class="list-disc ml-4">
                    <li>
                      Serve as a consultant and technical expert on SalesForce
                      Marketing Cloud
                    </li>
                    <li>
                      Scope and drive the creation of digital solutions, email
                      campaigns, and data integration
                    </li>
                  </ul>
                </div>
                <div>
                  <p class="font-bold">Requirements</p>
                  <ul class="list-disc ml-4">
                    <li>
                      Bachelor's degree in business or related field, or 5-7
                      years of experience in SalesForce Marketing Cloud
                      environment
                    </li>
                    <li>
                      4+ years of experience in Digital Marketing technology and
                      SalesForce Marketing Cloud
                    </li>
                  </ul>
                </div>
              </div>
              <button
                class="mt-4 bg-white border border-black text-black py-2 px-8 font-bold rounded-full hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50 transition duration-200"

              >
                Apply Now
              </button>
            </div>
          </div> -->
        </div>
        <div id="pagination">
          <!-- Example pagination controls -->
          <button id="prevPage">Previous</button>
          <span id="currentPage">Page 1</span>
          <button id="nextPage">Next</button>
        </div>
      </div>
    </div>
  </body>
  {{ standard_footer_includes }} {% block footer %} {% global_partial
  path="./partials/footer.html" %} {% endblock footer %} {{
  require_js(get_asset_url("../js/main.js")) }}
  <!-- <script>
    document.querySelectorAll(".accordion-header").forEach((button) => {
      button.addEventListener("click", () => {
        const content = button.nextElementSibling;

        if (content.classList.contains("hidden")) {
          content.classList.remove("hidden");
          button.querySelector(".accordion-icon").textContent = "-";
        } else {
          content.classList.add("hidden");
          button.querySelector(".accordion-icon").textContent = "+";
        }
      });
    });
  </script> -->
</html>
