<!--
  templateType: page
  isAvailableForNewContent: true
  label: NTP-Home
  screenshotPath: ../images/template-previews/home.png
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    {{ require_css(get_asset_url("../css/components/output.css")) }} {{
    standard_header_includes }}
  </head>
  <body class="">
    {% block Navbar %} {% global_partial path="./partials/navbar.html" %} {%
    endblock Navbar %}
    <section class="mt-32 container xl:px-32 px-3">

      <div class="grid sm:grid-cols-2  gap-10" >
        <div class="col-span-1 bg-coralblue rounded-3xl h-full" >
          <div class="text-center mt-7">
            <h5 class="md:text-4xl font-medium p-2 text-2xl ">
              Navigate Technology Complexity & Grow your Business Together
            </h5>
          </div>
          <!-- mail -->
          <div class="flex items-center  justify-center mt-7">
            {% block Email %} {% global_partial path="./Components/email.html " %}
            {% endblock Email %}
          </div>
          <!-- profile -->
          <div class="flex content-center justify-center my-14">
            <div class="flex -space-x-4 rtl:space-x-reverse">
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face1.jpg')}}"
                alt="img"
              />
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face2.jpg')}}"
                alt="img"
              />
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face-3.jpg')}}"
                alt="img"
              />
            </div>
          </div>
          <!-- text -->
          <h5 class="font-medium md:text-base text-center text-xs mt-3">150+</h5>
          <p class="w-4/5 mx-auto text-center font-medium md:text-base text-xs mb-10">
            Skilled business, design and technology professionals ready to drive
            real outcomes that enhance your business
          </p>

        </div>
        <div class="col-span-1 bg-slate-400  h-full relative " >
          <a href="/about-dev">
            <img src="{{get_asset_url('../assets/We & our card.svg')}}" alt="Card Image" class="absolute top-3 left-3 w-1/2 h-auto rounded-lg shadow-md" />
          </a>
          <img  src="{{get_asset_url('../assets/Globe.svg')}}" class="size-full" alt="">
          <div class="absolute right-5 bottom-1">
            <div class="flex space-x-3">
              <!-- <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook border border-blue-300 rounded-3xl p-1 text-blue-300"></i></a> -->
              <a href="https://www.linkedin.com/company/neartekpod/mycompany/" target="_blank">
                <i class="fa-brands fa-linkedin border border-blue-300 rounded-3xl p-1 text-blue-300"></i>
              </a>
              <p class="font-light text-blue-300">Find us on social networks</p>
            </div>
          </div>
        </div>
      </div>
      <!-- card section -->
      <!-- <div class=" relative md:px-auto  flex lg:flex-row flex-col gap-10 mt-32">
        <div
          class="flex-1 pt-9 pb-16 bg-coralblue rounded-3xl aspect-square bg-cover bg-center flex flex-col items-center text-center z-40"
        >
          <div class="max-w-md mx-auto mt-7 md:mt-12">
            <h5 class="md:text-4xl font-medium p-2 text-3xl">
              Navigate Technology Complexity & Grow your Business Together
            </h5>
          </div>

          <div class="flex flex-wrap justify-center sm:gap-1 gap-4 my-8">
            {% block Email %} {% global_partial path="./Components/email.html " %}
            {% endblock Email %}
          </div>
          <div class="flex content-center justify-center my-14">
            <div class="flex -space-x-4 rtl:space-x-reverse">
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face1.jpg')}}"
                alt="img"
              />
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face2.jpg')}}"
                alt="img"
              />
              <img
                class="w-10 h-10 border-2 rounded-full dark:border-gray-800"
                src="{{get_asset_url('../assets/face-3.jpg')}}"
                alt="img"
              />
            </div>
          </div>
          <h5 class="font-medium md:text-base text-xs">150+</h5>
          <p class="w-4/5 mx-auto text-center font-medium md:text-base text-xs">
            Skilled business, design and technology professionals ready to drive
            real outcomes that enhance your business
          </p>
        </div>
        <div
          class="flex-1 aspect-square bg-WorldMap bg-cover bg-center relative rounded-3xl z-40"
        >
          <a href="/about-dev">
            <img
              src="{{get_asset_url('../assets/We & our card.svg')}}"
              alt="Card Image"
              class="absolute top-3 left-3 w-1/2 h-auto rounded-lg shadow-md"
            />
          </a>

          <div class="absolute right-5 bottom-2">
            <div class="flex space-x-3">
             
              <a
                href="https://www.linkedin.com/company/neartekpod-apac-technologies-pvt-limited/people/"
                target="_blank"
                ><i
                  class="fa-brands fa-linkedin border border-blue-300 rounded-3xl p-1 text-blue-300"
                ></i
              ></a>
              <p class="font-light text-blue-300">Find us on social networks</p>
            </div>
          </div>
        </div>
      </div> -->
      <!-- our client-marquee -->
      <div class="flex w-full flex-wrap lg:flex-nowrap px-8 mt-10">
        <h2
          class="md:text-4xl text-3xl font-medium whitespace-nowrap grid place-items-center pr-16"
        >
          Our clients
        </h2>
        <div class="marquee-container">
          {% block Marquee %} {% global_partial path="./Components/marque.html "
          %} {% endblock Marquee %}
        </div>
      </div>
      <!-- modern business -->
      <div class="lg:my-24 my-10 px-4 text-center">
        <p
          class="text-2xl md:text-4xl max-w-4xl mx-auto font-medium md:leading-[3rem]"
        >
          Modern business require experienced technologists and robust
          technology solutions to achieve their goals.
        </p>
        <button
          class="btn rounded-full border-[1px] md:text-base text-xs font-medium md:p-3 p-2 mt-6 border-primaryblack hover:bg-bluechalk hover:border-bluechalk transition ease-in-out"
        >
          <a href="/service-dev"> View Our service</a>
          <i class="fa-solid fa-arrow-right ml-3"></i>
        </button>
      </div>
      <!-- understand tech -->
      <div class="">
        {% block Understand %} {% global_partial
        path="./Components/understand.html " %} {% endblock Understand %}
      </div>
      <!-- recent works-lg -->
      <div class="mt-28 mb-20 hidden lg:flex flex-col">
        <div class="items-start">
          <h2 class="font-medium md:text-4xl text-3xl mb-10">
            Some of our Recent Works
          </h2>
        </div>
        {% block RecentWork %} {% global_partial path="./Components/work.html "
        %} {% endblock RecentWork %}
      </div>
      <!-- recent works-sm -->
      <div class="swiper mySwiper lg:hidden">
        <div class="items-start">
          <h2 class="font-medium text-2xl mb-10 md:mt-10 mt-20">
            Some of our Recent Works
          </h2>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Cemex-final1.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Cemex</h2>
                <p class="text-xs pb-3">
                  True testament to building and delivering in agile in record
                  time with quality
                </p>
                <!-- <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                <a href="/comingsoon-dev">EXPLORE CASE STUDY</a>
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button> -->
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
                Multi-lingual website
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
                Completed in 6 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
          
          <div class="swiper-slide swiperslide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Marriott-IHG.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Marriott</h2>
                <p class="text-xs pb-3">
                  A global hotel chain integrating into Oracle Cloud
                </p>
                <!-- <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                <a href="/comingsoon-dev">EXPLORE CASE STUDY</a>
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button> -->
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
                Oracle cloud integration
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
                Completed in 9 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
          <div class="swiper-slide swiperslide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/LF.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">LibertyFund</h2>
                <p class="text-xs pb-3">
                  A customer engagement solution for conference management and marketing
                </p>
                <!-- <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                <a href="/comingsoon-dev">EXPLORE CASE STUDY</a>
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button> -->
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
              CRM Implementation
              </button>
              <div>
                <button class="border rounded-xl text-coralblue px-3 border-coralblue mt-2 mb-1">
                  Cloud Adoption
                </button>
            </div>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
              Completed in 6 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Jacana-G.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-2xl">Jacana</h2>
                <p class="text-xs pb-3">
                  A warranty integration framework to power B2B sales
                </p>
                <!-- <button
                  class="bg-white w-full rounded-2xl text-xs font-bold text-black flex justify-between p-2 items-center"
                >
                <a href="/comingsoon-dev">EXPLORE CASE STUDY</a>
                  <i class="fa-solid fa-arrow-right text-sm"></i>
                </button> -->
              </div>
            </div>
            <div class="absolute top-4 right-4 text-white">
              <i
                class="fa-solid fa-circle-arrow-up text-2xl group-hover:rotate-90 rotate-45 group-hover:text-blue-400"
              ></i>
            </div>
            <div class="absolute top-4 left-4 text-sky-500">
              <i class="fa-regular fa-circle-dot text-2xl"></i>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400"
              >
              B2B Sales website
              </button>
              <button
                class="border rounded-xl text-sky-500 px-3 border-sky-400 mb-1"
              >
              Completed in 4 months
              </button>
              <i class="fa-regular fa-circle-dot text-2xl"></i>
            </div>
          </div>
        </div>
        <div class="mt-10">
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- what our client says -->
      <!-- <div class="">
        <div class="mx-auto">
          <div class="items-start">
            <h2 class="font-medium text-2xl md:text-3xl mb-10 md:mt-28 mt-20">
              What our Client Say
            </h2>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div
              class="grid grid-cols-5 border rounded-2xl bg-customgradient overflow-hidden mb-10 mr-3"
            >
              <div class="col-span-2">
                <img
                  class="size-full object-cover"
                  src="{{get_asset_url('../assets/Client-person-1.svg')}}"
                  alt=""
                />
              </div>
              <div class="col-span-3 p-4 flex flex-col justify-between">
                <p class="text-gray-700 mb-10 text-base font-medium">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                  ultrices scelerisque mi sed interdum lacus tellus in mi orc,
                  netus nisl laoreet. Lorem, ipsum dolor sit amet consectetur
                  adipisicing elit. Eos reprehenderit neque aperiam.
                </p>

                <div>
                  <h1 class="text-gray-900 mb-2 text-3xl font-semibold">
                    John Doe
                  </h1>
                  <p class="text-gray-900 text-xs md:text-sm font-medium">
                    CEO AXTECH
                  </p>
                </div>
              </div>
            </div>
            <div
              class="grid grid-cols-5 border rounded-2xl bg-customgradient overflow-hidden mb-10"
            >
              <div class="col-span-2">
                <img
                  class="size-full object-cover"
                  src="{{get_asset_url('../assets/client-person-2.svg')}}"
                  alt=""
                />
              </div>
              <div class="col-span-3 p-4 flex flex-col justify-between">
                <p class="text-gray-700 mb-10 text-base font-medium">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit
                  ultrices scelerisque mi sed interdum lacus tellus in mi orc,
                  netus nisl laoreet. Lorem, ipsum dolor sit amet consectetur
                  adipisicing elit. Eos reprehenderit neque aperiam.
                </p>
                <div>
                  <h1 class="text-gray-900 mb-1 text-3xl font-semibold">
                    Lisa Powell
                  </h1>
                  <p class="text-gray-900 text-sm md:text-sm font-medium">
                    CEO Nuts Pvt. Ltd.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- ourpods-sm -->
      <div class="swiper mySwiper lg:hidden">
        <div class="items-start">
          <h2 class="font-medium text-3xl md:text-4xl md:my-10 mt-20 mb-10">
            Our Pods
          </h2>
        </div>
        <div class="swiper-wrapper">
          <!-- Chicago -->
          <div class="swiper-slide swiperslide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Chicago-final-updated1.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-3xl">Chicago USA</h2>
                <!-- <p class="text-xs pb-3">575 W Helen Rd,Palatine ,IL 60067</p> -->
              </div>
            </div>
          </div>
          <!-- Trichy -->
          <div class="swiper-slide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Trichy-final-updated.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-3xl">Trichy India</h2>
                <!-- <p class="text-xs pb-3">
                  Si Towers,No-15,Second floor, Melapudur main road,Trichy,Tamil
                  nadu-620001
                </p> -->
              </div>
            </div>
          </div>
          <!-- Leon -->
          <div class="swiper-slide swiperslide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/Leon-updated-final1.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-3xl">Leon Mexico</h2>
                <!-- <p class="text-xs pb-3">575 W Helen Rd,Palatine ,IL 60067</p> -->
              </div>
            </div>
          </div>
          <!-- Lisbon -->
          <div class="swiper-slide">
            <div
              class="relative h-96 w-98 sm:w-full overflow-hidden rounded-2xl bg-slate-600"
            >
              <img
                class="size-full object-cover"
                src="{{get_asset_url('../assets/New.svg')}}"
                alt="cemex"
              />
              <div class="absolute bottom-0 text-white p-5">
                <h2 class="font-bold text-3xl">Lisbon Portugal</h2>
                <!-- <p class="text-xs pb-3"></p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10">
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- ourpods-lg -->
      <div class="mt-20 mb-20 hidden lg:flex flex-col">
        <div class="items-start">
          <h2 class="font-medium text-3xl mb-10">Our Pods</h2>
        </div>
        {% block ourpods %} {% global_partial path="./Components/our-pods.html "
        %} {% endblock ourpods %}
      </div>
    </div>

    </section>
    
  {{ standard_footer_includes }} {% block footer %}
  {% global_partial path="./partials/footer.html" %}
  {% endblock footer %}
  
  </body>
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        bulletClass: "swiper-pagination-bullet", // custom bullet class
        bulletActiveClass: "swiper-pagination-bullet-active", // custom active bullet class
      },
    });
  </script>
 
</html>
