<!--
    templateType: page
    isAvailableForNewContent: true
    label: NTP-service
    screenshotPath: ../images/template-previews/home.png
    -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    {{ require_css(get_asset_url("../css/components/output.css")) }} {{
    standard_header_includes }}
  </head>

  <body>
    {% block Navbar %} {% global_partial path="./partials/navbar.html" %} {%
    endblock Navbar %}
    <div class="absolute top-[50px] left-30">
      {% block Backgroundcolor %} {% global_partial
      path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor %}
    </div>
    <div class="absolute top-[550px] left-30">
      {% block Backgroundcolor %} {% global_partial
      path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor %}
    </div>
    <div class="md:container mt-24 p-5">
      <div>
        <div class="bg-service">
          <div class="relative">
            <img
              src="{{get_asset_url('../assets/Service-hero-image.svg')}}"
              alt="Card Image"
              class="h-auto rounded-lg shadow-md"
            />
            <div class="absolute md:top-36 top-7">
              <h1
                class="text-base md:text-4xl text-center font-medium text-white md:mb-3 md:w-2/3 mx-auto"
              >
                Your tech partner in driving efficiency and accelerating growth
              </h1>
              <h1
                class="md:mt-2 text-xs md:text-xl text-center font-medium text-white"
              >
                Boosting your performance with expert technological guidence
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute top-[450px] right-0">
        {% block Backgroundcolor %} {% global_partial
        path="./Components/backroundcolor.html " %} {% endblock Backgroundcolor
        %}
      </div>
      <div class="items-start">
        <h2 class="font-medium text-2xl md:text-3xl mt-20 mb-20">
          Our Services
        </h2>
      </div>
      <div class="flex flex-wrap md:flex-nowrap">
        <div class="md:w-1/2">
          <img
            src="{{get_asset_url('../assets/Business-consulting.svg')}}"
            alt="Business Consulting"
            class="object-cover rounded-2xl h-[19rem] w-[31rem]"
          />
        </div>
        <div class="md:w-1/2">
          <div
            class="flex flex-col justify-center w-full text-center md:text-left md:px-8"
          >
            <h3 class="service-title text-2xl">Business Consulting</h3>
            <p class="service-para text-base">
              Unlock new opportunities to drive exponential growth and change
              using our business domain expertise. Our unique strengths lie in
              the business domain knowledge we bring to clients, supported by
              our leadership and practice leads.
            </p>
            <a href="/comingsoon-dev"
              class="md:w-40 md:h-10 w-32 h-8 flex text-center items-center justify-center border border-black font-bold md:text-sm text-xs rounded-full mx-auto md:mx-0"
              >EXPLORE MORE</a
            >
          </div>
        </div>
      </div>
      <div class="service-contant mt-24 mb-20">
        <div class="md:w-1/2 order-2 md:order-1">
          <div
            class="flex flex-col justify-center md:justify-start w-full text-center md:text-start md:t ext-left md:py-8 md:pr-8"
          >
            <h3 class="service-title text-2xl">Managed Services</h3>
            <p class="service-para text-base">
              Helping clients coordinate and optimize the management and
              operation of their complex digital solutions connected ecosystem.
              Our experience and expertise range from midsize to
              enterprise-scale clients across various industry verticals.
            </p>
            <a href="/comingsoon-dev"
              class="md:w-40 md:h-10 w-32 h-8 flex text-center items-center justify-center border border-black font-bold md:text-sm text-xs rounded-full mx-auto md:mx-0"
              >EXPLORE MORE</a
            >
          </div>
        </div>
        <div class="md:w-1/2 md:order-2 order-1">
          <img
            src="{{get_asset_url('../assets/Managed-services.svg')}}"
            alt="Managed Services"
            class="object-cover rounded-3xl h-[19rem] w-[31rem]"
          />
        </div>
      </div>
      <div class="flex flex-wrap md:flex-nowrap mt-10">
        <div class="md:w-1/2">
          <img
            src="{{get_asset_url('../assets/Delivery-as-a-service.svg')}}"
            alt="Business Consulting"
            class="object-cover rounded-2xl h-[19rem] w-[31rem]"
          />
        </div>
        <div class="md:w-1/2">
          <div
            class="flex flex-col justify-center w-full text-center md:text-left md:px-8"
          >
            <h3 class="service-title text-2xl">Delivery as a Service</h3>
            <p class="service-para text-base">
              Our teams can own the entire product and project delivery
              lifecycle, from discovery, architecture, development, and launch
              to ongoing support. We are capable of supporting the entire
              project/product delivery lifecycle, but we can also be a POD
              within your project delivery lifecycle.
            </p>
            <a href="/comingsoon-dev"
              class="md:w-40 md:h-10 w-32 h-8 flex text-center items-center justify-center border border-black font-bold md:text-sm text-xs rounded-full mx-auto md:mx-0"
              >EXPLORE MORE</a
            >
          </div>
        </div>
      </div>
      <div class="service-contant mt-24 mb-20">
        <div class="md:w-1/2 order-2 md:order-1">
          <div
            class="flex flex-col justify-center w-full text-center md:text-left md:py-8 md:pr-8"
          >
            <h3 class="service-title text-2xl">Digital Information</h3>
            <p class="service-para text-base">
              Transform your organization for greater efficiency and
              flexibility, enabling rapid response to market opportunities. We
              design, build, and launch custom enterprise applications and
              implement SaaS platforms, covering everything from content to
              commerce.
            </p>
            <a href="/comingsoon-dev"
              class="md:w-40 md:h-10 w-32 h-8 flex text-center items-center justify-center border border-black font-bold md:text-sm text-xs rounded-full mx-auto md:mx-0"
              >EXPLORE MORE</a
            >
          </div>
        </div>
        <div class="md:w-1/2 order-1 md:order-2">
          <img
            src="{{get_asset_url('../assets/Digital-Information.svg')}}"
            alt="Managed Services"
            class="object-cover rounded-2xl h-[20rem] w-[31rem]"
          />
        </div>
      </div>
      <div class="flex flex-wrap md:flex-nowrap mt-10">
        <div class="md:w-1/2">
          <img
            src="{{get_asset_url('../assets/Data-orchestration.svg')}}"
            alt="Business Consulting"
            class="object-cover rounded-2xl h-[19rem] w-[31rem]"
          />
        </div>
        <div class="md:w-1/2">
          <div
            class="flex flex-col justify-center w-full text-center md:text-left md:px-8"
          >
            <h3 class="service-title text-2xl">Data Orchestration</h3>
            <p class="service-para text-base">
              In today's data-driven world, effectively managing and utilizing
              data is crucial for informed decision-making and driving business
              success. Our Data Orchestration services streamline and harmonize
              your data, transforming it into a powerful asset that fuels
              innovation and growth.
            </p>
            <a href="/comingsoon-dev"
              class="md:w-40 md:h-10 w-32 h-8 flex text-center items-center justify-center border border-black font-bold md:text-sm text-xs rounded-full mx-auto md:mx-0"
              >EXPLORE MORE</a
            >
          </div>
        </div>
      </div>
      <div class="service-contant mt-24 mb-20">
        <div class="md:w-1/2 order-2 md:order-1">
          <div
            class="flex flex-col justify-center w-full text-center md:text-left md:py-8 md:pr-8"
          >
            <h3 class="service-title text-2xl">Staff Services</h3>
            <p class="service-para text-base">
              In the rapidly evolving world of technology, having the right
              talent is crucial for maintaining a competitive edge. Our Staff
              Services provide expert IT professionals who seamlessly integrate
              into your team, driving innovation and achieving your business
              objectives.
            </p>
            <a href="/comingsoon-dev"
              class="md:w-40 md:h-10 w-32 h-8 flex text-center items-center justify-center border border-black font-bold md:text-sm text-xs rounded-full mx-auto md:mx-0"
              >EXPLORE MORE</a
            >
          </div>
        </div>
        <div class="md:w-1/2 order-1 md:order-2">
          <img
            src="{{get_asset_url('../assets/Staff-services.svg')}}"
            alt="Managed Services"
            class="object-cover rounded-2xl h-[20rem] w-[31rem]"
          />
        </div>
      </div>
      <div class="flex flex-wrap md:flex-nowrap mt-10">
        <div class="md:w-1/2">
          <img
            src="{{get_asset_url('../assets/Design.svg')}}"
            alt="Business Consulting"
            class="object-cover rounded-2xl h-[19rem] w-[31rem]"
          />
        </div>
        <div class="md:w-1/2">
          <div
            class="flex flex-col justify-center w-full text-center md:text-left md:px-8"
          >
            <h3 class="service-title text-2xl">User Experience</h3>
            <p class="service-para text-base">
              We help brands create seamless and enjoyable user experiences,
              driving customer loyalty and satisfaction. Our human-centered
              approach enhances engagement, improves efficiency, and ensures a
              rapid return on investment.
            </p>
            <a href="/comingsoon-dev"
              class="md:w-40 md:h-10 w-32 h-8 flex text-center items-center justify-center border border-black font-bold md:text-sm text-xs rounded-full mx-auto md:mx-0"
              >EXPLORE MORE</a
            >
          </div>
        </div>
      </div>
    </div>

    {{ standard_footer_includes }} {% block footer %} {% global_partial
    path="./partials/footer.html" %} {% endblock footer %} {{
    require_js(get_asset_url("../js/main.js")) }}
  </body>
</html>
