<!-- 
  templateType: global_partial
  label: Footer
-->

<hr class="lg:mt-10" />
<div class="">
  <div
    class="pt-14 md:pt-6 px-10 md:pb-6 flex flex-wrap lg:flex-nowrap justify-center"
  >
    <div class="md:w-2/6">
      <div class="">
        <h2 class="font-medium text-2xl text-center md:text-start">Contact us</h2>
        <p class="mt-5 flex gap-4">
          <a href="mailto:%20growwith@neartekpod.com" class="text-sm md:text-base font-medium">
            <i class="fa-regular fa-envelope text-xl"></i>
            <span class="text-base font-medium">growwith@neartekpod.com</span>
          </a>
        </p>
        <!-- <p class="mt-5 flex gap-4">
          <i class="fa-solid fa-phone text-xl"></i>
          <span class="text-base">+1 312 702 0036</span>
        </p> -->
        <p class="mt-5 flex gap-4">
          <i class="fa-solid fa-location-dot text-xl"></i>
          <span class="text-base"> Chicago, USA</span>
        </p>
        <div class="mt-5">
          <a href="/"
            ><img
              src="{{ get_asset_url('../../assets/logo.png') }}"
              alt="Logo"
              class="h-10"
          /></a>
        </div>
      </div>
    </div>
    <div class="md:w-2/6">
      <ul class="flex flex-col gap-4 text-center">
        <li class="mt-8 mb-6 md:mt-0 md:mb-0">
          <h2 class="font-medium text-2xl">Quick links</h2>
        </li>
        <li class="">
          <button class="footer-style">
            <a href="/services">Our services</a>
          </button>
        </li>
        <li>
          <button class="footer-style">
            <a href="/about-us">About Us</a>
          </button>
        </li>
        <li>
          <button class="footer-style"><a href="/careers">Careers</a></button>
        </li>
      </ul>
    </div>
    <div class="md:w-2/6">
      <div class="my-10 md:my-0 p-4 md:p-0">
        <h4 class="text-lg md:text-xl font-medium font-Montserrat leading-leading1 md:leading-leading2">
          Get in touch with us . Let us assist you with any of your tech needs and provide tailored solutions.
        </h4>
        <div class="mt-5">
          <div class="flex justify-between">
            <div>
              <button
                class="border-[2px] rounded-2xl w-40 h-9 text-base border-coralblue py-2 leading-[1px] font-medium md:font-bold hover:bg-coralblue"
              >
                <a href="/contact-us">Contact us</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="md:container flex my-2 w-full">
  <div class="w-1/2 flex gap-5 mt-2">
    <a
      href="https://www.linkedin.com/company/neartekpod/mycompany/"
      target="_blank"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <!-- <a href="https://www.facebook.com/" target="_blank"
      ><i class="fa-brands fa-facebook-f"></i
    ></a>
    <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://x.com/?lang=en" target="_blank"
      ><i class="fa-brands fa-x-twitter"></i></a> -->
  </div>
  <div class="w-1/2 flex justify-end">
    <p class="border-r-2 pr-2">
      <span class="text-base">&#169;</span>2024 NearTekPod
    </p>
    <p class="pl-2">All right reserved</p>
  </div>
</div>
