<!-- 
  templateType: global_partial
  label: hospitalty-footer
-->
<div class="bg-gray-50">
  <div class="container xl:px-24 px-3 mt-20">
    <div class="flex flex-wrap md:flex-nowrap justify-between">
      <div class="mt-14 mb-7">
        <div class="flex-1 flex p-10 lg:p-0 items-center">
          <a href="/" id="logo-link">
            <img
              src="https://www.neartekpod.com/hubfs/raw_assets/public/ntp-2.0-main/assets/logo.png"
              alt="Logo"
              class="h-10 object-cover"
            />
          </a>
        </div>

        <p class="w-80 mt-5 leading-7 mb-10 text-base">
          NearTekPod delivers tailored technology solutions through expert
          consulting, platform integration, and cloud services, helping
          businesses enhance efficiency and drive innovation
        </p>
        <div>
          <h2 class="font-bold text-base">Our Social Media</h2>
          <div>
            <i class="fa-brands fa-linkedin text-xl mt-2 text-sky-500"></i>
          </div>
        </div>
      </div>
      <div class="mt-14">
        <div class="mt-10">
          <h1 class="font-bold my-3 text-sky-500">Need Help ?</h1>
          <p class="mt-1">FAQ</p>
          <p class="mt-1">Contact Us</p>
        </div>
        <div>
          <h1 class="font-bold mt-3 text-sky-500">Call Us</h1>
          <p class="mt-1">8765-657-983</p>
        </div>
        <div>
          <h1 class="font-bold mt-3 text-sky-500">Email us</h1>
          <p class="mt-1">growwith@neartekpod.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
