<!-- 
  templateType: global_partial
  label: hospitalty-footer
-->
<div class="bg-gray-50">
  <div class="container xl:px-32 px-6 mt-20">
    <div class="flex flex-wrap md:flex-nowrap justify-between">
      <div class="mt-14 md:mb-7">
        <div class="flex-1 flex items-center">
          <a href="/" id="logo-link">
            <img
              src="{{get_asset_url('../../assets/footerlogos.svg')}}"
              alt="Logo"
              class="md:h-10 h-16 object-cover"
            />
          </a>
        </div>

        <p class="w-80 mt-5 leading-7 md:mb-10 text-sm md:text-base">
          NearTekPod delivers tailored technology solutions through expert
          consulting, platform integration, and cloud services, helping
          businesses enhance efficiency and drive innovation
        </p>
        <div>
          <h2 class="font-bold text-base">Our Social Media</h2>
          <div>
            <a
              href="https://www.linkedin.com/company/neartekpod/mycompany/"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin text-xl mt-2 text-sky-500"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-6 md:mt-14">
        <div>
          <h1 class="font-bold mt-3 text-sky-500">Call Us</h1>
          <p class="mt-1 hidden md:block">
            + 1 847 450 3728
            <span class="text-sm">[8:00 AM – 4:00 PM EST]</span>
          </p>
          <a href="tel:+18474503728" class="mt-1 md:hidden">
            + 1 847 450 3728
            <span class="text-sm">[8:00 AM – 4:00 PM EST]</span>
          </a>
        </div>
        <div>
          <h1 class="font-bold mt-3 text-sky-500">Email us</h1>
          <a href="mailto: growwith@neartekpod.com " class="mt-1"
            >growwith@neartekpod.com</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
