<!--
  templateType: global_partial
  label: Hospitality-header
-->

<div class="fixed top-0 z-10 bg-white w-full">
  <div class="container xl:px-32 px-3">
    <div class="flex justify-between p-4">
      <a href="/" id="logo-link">
        <img
          src="https://www.neartekpod.com/hubfs/raw_assets/public/ntp-2.0-main/assets/logo.png"
          alt="Logo"
          class="h-8 md:h-14 object-cover mt-2"
        />
      </a>
      <a
        class="bg-backblue rounded-full w-28 h-10 mt-1 text-center text-white font-semibold flex items-center justify-center"
      >
        Contact Us
      </a>
    </div>
  </div>
</div>
