<!--
  templateType: global_partial
  label: Hospitality-header
-->

<div class="fixed top-0 z-50 bg-white w-full shadow-lg">
  <div class="container xl:px-32 px-3">
    <div class="flex justify-between py-4">
      <a href="/" id="logo-link">
        <img
          src="https://www.neartekpod.com/hubfs/raw_assets/public/ntp-2.0-main/assets/logo.png"
          alt="Logo"
          class="h-10 object-cover mt-2"
        />
      </a>
      <!-- <a
        class="bg-backblue rounded-full w-28 h-10 mt-1 text-center text-white font-semibold flex items-center justify-center"
      >
        Contact Us
      </a> -->
      <button
        class="bg-backblue text-white px-2 md:px-6 py-1 md:py-2 rounded-full font-semibold flex gap-3 items-center space-x-2 mt-2"
        onclick="location.href='#contact'"
      >
        <span>Contact us</span>
      </button>
    </div>
  </div>
</div>
